.page-body
  .col-md-6.offset-md-3
    = simple_form_for :session, url: login_path do |f|
      = f.input :email
      = f.input :password, label: 'Пароль'
      = f.input :remember_me, label: 'Запомнить', as: :boolean

      = f.submit t('sessions.buttons.create'), class: 'btn btn-dark btn-block'
    %p.pt-3
      Новый пользователь?
      = link_to t('sessions.links.signup'), signup_path
