%ul.sidebar-nav.d-print-none
  %li= link_to t('link.back'), inventory_path(@inventory)

- provide(:title, "#{t('inventories.headers.edit')} #{format_date(@inventory.date_from)}")
.page-body
  %h2.text-center.py-3 #{t('inventories.headers.edit')} #{format_date(@inventory.date_from)}
  = render partial: 'form', locals: { inventory: @inventory, button: 'edit' }
