.col-md-2.fixed-top.mt-10
  %ul.nav.flex-column
    %li.nav-item= link_to t('link.back'), inventory_path(@inventory), class: 'nav-link'

- provide(:title, "#{t('inventories.headers.edit')} #{format_date(@inventory.inv_date_from)}")
.page-body
  %h2.text-center.py-3 #{t('inventories.headers.edit')} #{format_date(@inventory.inv_date_from)}
  = render partial: 'form', locals: { inventory: @inventory, button: 'edit' }
