- provide(:title, "#{t('inventories.headers.show')} #{format_date(@inventory.date_from)}")
= render partial: 'links', locals: { inventory: @inventory }
.page-body
  .caption
    ОПИСЬ ДОКУМЕНТОВ
  %br
  .paragraph.p-3
    .block-row.border.border-dark
      .block-col-9.border-right.border-dark
        Наименование документа
      .block-col-3
        № страницы
    .block-row.border.border-top-0.border-dark
      .block-col-9.border-right.border-dark
        %ol.ol-table
          - @inventory.list_doc.split("\r\n").each do |list_doc|
            %li= list_doc
      .block-col-3
        %ol.ol-table
          - @inventory.list_page.split("\r\n").each do |list_page|
            %li.li-none
              = list_page
  %br
  .paragraph
    .block-row
      .block-col-6
        Исполнитель
      .block-col-2
        .line
        .hint
          подпись
      .block-col-4.text-center
        .line
          %b= @inventory.exec_name
        .hint
          инициалы, фамилия
    .block-row
      .block-col-6
        Начальник отдела
      .block-col-2
        .line
        .hint
          подпись
      .block-col-4.text-center
        .line
          %b= @inventory.os_chief_name
        .hint
          инициалы, фамилия
