= simple_form_for ikcontract do |f|
  = f.input :certificate_id, as: :hidden
  .row
    .col-md-4
      = f.input :ikcon_registration_num
    .col-md-4
      = f.input :ikcon_registration_date,
                as: :date, start_year: Date.today.year - 10,
                end_year: Date.today.year + 10,
                html5: true
    .col-md-4
      = f.input :ikcon_registration_city
  = f.input :ikcon_name_product, as: :text, input_html: { rows: 3 }
  = f.input :ikcon_cert_registration_num
  .row
    .col-md-6
      = f.input :ikcon_inspection_period, collection: INSPECTION_PERIODS, include_blank: false
    .col-md-6
      = f.input :ikcon_contract_time
  %h2.py-3 Данные об Исполнителе
  = f.input :ikcon_exec_name, as: :text, input_html: { rows: 3 }
  = f.input :ikcon_exec_named, collection: DECLENSION_NAME, include_blank: false
  .row
    .col-md-6
      = f.input :ikcon_exec_chief_position
    .col-md-6
      = f.input :ikcon_exec_chief_name
  .row
    .col-md-6
      = f.input :ikcon_exec_active, collection: DECLENSION_ACTIVE, include_blank: false
    .col-md-6
      = f.input :ikcon_exec_based_doc
  = f.input :ikcon_exec_address, as: :text, input_html: { rows: 3 }
  = f.input :ikcon_exec_bank_details
  .row
    .col-md-6
      = f.input :ikcon_exec_chief_position_sign
    .col-md-6
      = f.input :ikcon_exec_chief_name_sign
  %h2.py-3 Данные о Заказчике
  = f.input :ikcon_client_name, as: :text, input_html: { rows: 3 }
  = f.input :ikcon_client_named, collection: DECLENSION_NAME, include_blank: false
  .row
    .col-md-6
      = f.input :ikcon_client_chief_position
    .col-md-6
      = f.input :ikcon_client_chief_name
  .row
    .col-md-6
      = f.input :ikcon_client_active, collection: DECLENSION_ACTIVE, include_blank: false
    .col-md-6
      = f.input :ikcon_client_based_doc
  = f.input :ikcon_client_address, as: :text, input_html: { rows: 3 }
  = f.input :ikcon_client_bank_details
  .row
    .col-md-6
      = f.input :ikcon_client_chief_position_sign
    .col-md-6
      = f.input :ikcon_client_chief_name_sign

  .col.pt-5
    = f.submit t("ikcontracts.buttons.#{button}"), class: 'btn btn-dark btn-block'
