%ul.sidebar-nav.d-print-none
  %li= link_to t('link.back'), ikcontract_path(@ikcontract)

- provide :title do
  = t('ikcontracts.headers.edit')
  = format_date(@ikcontract.ikcon_registration_date)
  №
  = @ikcontract.ikcon_registration_num
.page-body
  %h2.text-center.py-3
    = t('certcontracts.headers.edit')
    = format_date(@ikcontract.ikcon_registration_date)
    №
    = @ikcontract.ikcon_registration_num
  = render partial: 'form', locals: { ikcontract: @ikcontract, button: 'edit' }
