<% provide(:title, "Договор на проведение инспекционного контроля от
                    #{@ikcontract.ikcon_registration_date.strftime("%d.%m.%Y")}") %>

<div class="paragraph no-print">
  <%= link_to t('link.back'), root_path %> |
  <%= link_to t('link.edit'), edit_ikcontract_path(@ikcontract) %> |
  <%= link_to t('link.destroy'), ikcontract_path(@ikcontract), method: :delete,
                                  data: { confirm: "Are you sure" }%> |
</div>
<br class="no-print">
<br class="no-print">
<div class="page-body">
  <div class="caption">
    ДОГОВОР<br>
    на проведение инспекционного контроля<br>
    за сертифицированной продукцией
  </div>
  <div class="div-table">
    <div class="div-table-row">
      <div class="div-table-col col-width-1">
        <b><%= @ikcontract.ikcon_registration_date.strftime("%d.%m.%Y") %></b>
      </div>
      <div class="div-table-col col-width-2">
        <b><%= @ikcontract.ikcon_registration_num %></b>
      </div>
      <div class="div-table-col col-width-9 right">
        <b><%= @ikcontract.ikcon_registration_city %></b>
      </div>
    </div>
  </div>
</div>
<br class="no-print">
<br class="no-print">
<div class="paragraph no-print">
  <%= link_to t('link.back'), root_path %> |
  <%= link_to t('link.edit'), edit_ikcontract_path(@ikcontract) %> |
  <%= link_to t('link.destroy'), ikcontract_path(@ikcontract), method: :delete,
                                  data: { confirm: "Are you sure" }%> |
</div>
