- provide :title do
  = t('ikcontracts.headers.edit')
  = format_date(@ikcontract.ikcon_registration_date)
  №
  = @ikcontract.ikcon_registration_num
= render partial: 'links', locals: { ikcontract: @ikcontract }
.page-body
  .caption
    ДОГОВОР
    %br на проведение инспекционного контроля
    за сертифицированной продукцией
  %br
  .paragraph
    .block-row
      .block-col-4
        %b
          = format_date(@ikcontract.ikcon_registration_date)
          №
          = @ikcontract.ikcon_registration_num
      .block-col-8.text-right
        %b= @ikcontract.ikcon_registration_city
  %br
  .line
    = @ikcontract.ikcon_exec_name
  .hint
    наименование организации (органа по сертификации)
  .paragraph
    = @ikcontract.ikcon_exec_named
    в дальнейшем
    %b Исполнитель,
    в лице
  .line
    #{@ikcontract.ikcon_exec_chief_position} #{@ikcontract.ikcon_exec_chief_name}
  .hint
    должность, фамилия, имя, отчество руководителя
  .paragraph
    #{@ikcontract.ikcon_exec_active} на основании #{@ikcontract.ikcon_exec_based_doc} с одной стороны, и
  .line
    = @ikcontract.ikcon_client_name
  .hint
    наименование организации-изготовителя (продавца)
  .paragraph
    #{@ikcontract.ikcon_client_named} в дальнейшем
    %b Заказчик,
    в лице
  .line
    #{@ikcontract.ikcon_client_chief_position} #{@ikcontract.ikcon_client_chief_name}
  .hint
    должность, фамилия, имя, отчество руководителя
  .paragraph
    #{@ikcontract.ikcon_client_active} на основании #{@ikcontract.ikcon_client_based_doc}
    с другой стороны, заключили настоящий договор о нижеследующем:
  %br
  .caption
    1. ПРЕДМЕТ ДОГОВОРА И ОБЯЗАТЕЛЬСТВА СТОРОН
  %br
  .paragraph
    1.1. Проведение
    %b Исполнителем
    инспекционного контроля за сертифицированной продукцией
  .line
    %b= @ikcontract.ikcon_name_product
  .hint
    наименование сертифицированной продукции
  .paragraph
    на которую
    %b Заказчику
    выдан сертификат соответствия
  .line
    = @ikcontract.ikcon_cert_registration_num
  .hint
    номер сертификата соответствия
  .paragraph
    Проверка выполнения Заказчиком обязанностей, указанных в полученном им сертификате
  %br
  .paragraph
    1.2. Инспекционный контроль проводится в соответствии с требованиями Системы сертификации ГОСТ Р и требованиями
  .line
    %b системы сертификации пищевых продуктов и продовольственного сырья
  .hint
    указать наименование системы сертификации однородной продукции
  .paragraph
    в течение всего срока действия сертификата соответствия в форме инспекционных проверок, проводимых с переодичностью
    %b не реже #{@ikcontract.ikcon_inspection_period}
  %br
  .paragraph
    1.3. Объем первой инспекционной проверки, ее содержание и сроки проведения, а также количество специалистов,
    проводящих инспекционную проверку, определяются Календарным планом (Приложение 1 к договору),
    являющимся неотъемлемой частью настоящего договора. Объем, содержание  и  сроки последующих
    инспекционных проверок определяются Исполнителем по согласованию с  Заказчиком в новых календарных планах,
    оформляемых после проведения первой и последующих проверок с учетом их результатов.
  %br
  .paragraph
    1.4. Исполнитель, в соответствии с нормативными документами на проверяемую  продукцию, определяет количество
    отбираемых образцов (проб) сертифицированной продукции, объем их испытаний и производит отбор образцов. Исполнитель
    вправе поручить отбор образцов (проб) территориальному органу Госстандарта или аккредитованной лаборатории.
  %br
  .paragraph
    1.5. Заказчик обязуется:
  .paragraph
    1.5.1. Применять знак соответствия в соответствии с правилами Системы сертификации ГОСТ Р.
  .paragraph
    1.5.2. Выполнять  обязанности,  указанные  в  полученном   сертификате   соответствия.
  .paragraph
    1.5.3. Оплачивать Исполнителю стоимость произведенных работ по инспекционному контролю, испытаниям образцов (проб)
    продукции, командировочные и другие расходы в соответствии с разделом 2 настоящего договора.
  .paragraph
    1.5.4. Возвратить Исполнителю сертификат соответствия при его аннулировании.
  %br
  .paragraph
    1.6. Исполнитель обязуется:
  .paragraph
    1.6.1. Проводить работы по инспекционному контролю у Заказчика за сертифицированной продукцией в соответствии с
    пунктами 1.1, 1.2, 1.3, 1.4 настоящего договора и объективно оценить их результаты.
  .paragraph
    1.6.2. Направлять Заказчику акты инспекционных проверок и другие, связанные с ними документы.
  .paragraph
    1.6.3. Уведомлять Заказчика о нецелесообразности дальнейшего проведения инспекционного контроля, если в процессе
    проверки выявляется неизбежность получения отрицательного результата.
  .paragraph
    1.6.4. Информировать Госстандарт и другие заинтересованные стороны в случае приостановления или аннулирования
    сертификата.
  %br
  .caption
    2. СТОИМОСТЬ РАБОТ И ПОРЯДОК РАСЧЕТОВ
  %br
  .paragraph
    2.1. Стоимость работ по инспекционному контролю определяется по тарифам Исполнителя, действующим на момент
    проведения работ, в соответствии с утвержденными Госстандартом России "Правилами по сертификации. Оплата работ
    по сертификации продукции и услуг" (рег. номер РОСС RU.0001.00ДД01).
  .paragraph
    Стоимость первой проверки составляет:
  .paragraph
    Стоимость второй и последующих проверок определяетсяисходя из их объема, предусмотренного соответствующими
    календарными планами.
  %br
  .paragraph
    2.2. Предоплата по первой проверке составляет:
  .paragraph
    и оплачивается в течение 5 банковских дней с момента подписания настоящего договора. Предоплата по второй и
    последующим проверкам производится в течение 5 банковских дней с момента получения Акта предыдущей проверки
    по счету Исполнителя по тарифам, действующим у Исполнителя в этот период. Стоимость испытаний образцов (проб)
    в указанную сумму не входит. Оплата испытаний производится Заказчиком по фактическим затратам Исполнителя.
    Заказчик также оплачивает стоимость образцов (проб), если они отбираются в торговле, и все расходы специалистов
    Исполнителя при выезде их на место проверки.
  %br
  .paragraph
    2.3. Командировочные расходы лиц, проводящих инспекционную проверку (транспортные расходы, проживание в готинице,
    суточные) оплачиваются Заказчиком по фактическим затратам согласно представленным документам и установленным
    нормативам (суточных и др.).
  %br
  .paragraph
    2.4. В случае расторжения договора Заказчиком в одностороннем порядке, выплаченная Исполнителю сумма не
    возвращается. В случае расторжения договора Исполнителем в одностороннем порядке, он возвращает сумму предоплаты,
    полученную по настоящему договору.
  %br
  .caption
    3. ПОРЯДОК СДАЧИ И ПРИЕМКИ РАБОТ
  %br
  .paragraph
    3.1. По завершении каждой проверки Исполнитель направляет Заказчику акт инспекционной проверки, акт сдачи-приемки и
    другие, связанные с проведенной проверкой, документы.
  %br
  .paragraph
    3.2. Заказчик в течение 3-х дней со дня получения акта инспекционной проверки и акта сдачи-приема работ направляет
    Исполнителю подписанные акты и производит в соответствии с пп.2.1., 2.2., 2.3. настоящего договора, оплату за работы
    по инспекционной проверке и испытаниям образцов продукции.
  %br
  .caption
    4. ОТВЕТСТВЕННОСТЬ СТОРОН
  %br
  .paragraph
    4.1. В случае невыполнения Заказчиком условий настоящего договора, Исполнитель вправе принять решение об отмене
    действия сертификата соответствия, выданного Заказчику.
  %br
  .paragraph
    4.2. Исполнитель несет ответственность за необъективность выводов по результатам инспекционного контроля.
  %br
  .paragraph
    4.3. Стороны несут ответственность в соответствии с действующим законодательством за несоблюдение конфиденциальности
    информации при выполнении настоящего договора.
  %br
  .caption
    5. ДРУГИЕ УСЛОВИЯ
  %br
  %br
  .caption
    6. СРОК ДЕЙСТВИЯ ДОГОВОРА И ЮРИДИЧЕСКИЕ АДРЕСА СТОРОН
  %br
  .paragraph
    6.1. Настоящий договор вступает в силу с момента его подписания обеими сторонами и действует
    #{@ikcontract.ikcon_contract_time}.
  %br
  .paragraph
    6.2. Юридические адреса сторон:
  .paragraph
    .block-row
      .block-col-3
        %b Исполнитель:
      .block-col-9
        .line
          = @ikcontract.ikcon_exec_address
        .hint
          юридический адрес исполнителя
    .block-row
      .block-col-3
      .block-col-9
        .line
          = @ikcontract.ikcon_exec_bank_details
        .hint
          расчетный счет исполнителя, реквизиты банка
    .block-row
      .block-col-3
        %b Заказчик:
      .block-col-9
        .line
          = @ikcontract.ikcon_client_address
        .hint
          юридический адрес заказчика
    .block-row
      .block-col-3
      .block-col-9
        .line
          = @ikcontract.ikcon_client_bank_details
        .hint
          расчетный счет заказчика, реквизиты банка
  %br
  .paragraph
    .block-row
      .block-col-5
        %b От Исполнителя
      .block-col-2
      .block-col-5
        %b От Заказчика
    .block-row
      .block-col-5
        %b= @ikcontract.ikcon_exec_chief_position_sign
      .block-col-2
      .block-col-5
        %b= @ikcontract.ikcon_client_chief_position_sign
    .block-row
      .block-col-5
        .line
      .block-col-2
      .block-col-5
        .line
    .block-row
      .block-col-5.text-center
        = @ikcontract.ikcon_exec_chief_name_sign
      .block-col-2
      .block-col-5.text-center
        = @ikcontract.ikcon_client_chief_name_sign
    .block-row
      .block-col-5.text-center
        М.П.
      .block-col-2
      .block-col-5.text-center
        М.П.
