<% provide(:title, "Договор на проведение инспекционного контроля от
                    #{@ikcontract.ikcon_registration_date.strftime("%d.%m.%Y")}") %>

<div class="paragraph no-print">
  <%= link_to t('link.back'), root_path %> |
  <%= link_to t('link.edit'), edit_ikcontract_path(@ikcontract) %> |
  <%= link_to t('link.destroy'), ikcontract_path(@ikcontract), method: :delete,
                                  data: { confirm: "Are you sure" }%> |
</div>
<br class="no-print">
<br class="no-print">
<div class="page-body">
  <div class="caption">
    ДОГОВОР<br>
    на проведение инспекционного контроля<br>
    за сертифицированной продукцией
  </div>
  <div class="div-table">
    <div class="div-table-row">
      <div class="div-table-col col-width-1">
        <b><%= @ikcontract.ikcon_registration_date.strftime("%d.%m.%Y") %></b>
      </div>
      <div class="div-table-col col-width-2">
        <b><%= @ikcontract.ikcon_registration_num %></b>
      </div>
      <div class="div-table-col col-width-9 right">
        <b><%= @ikcontract.ikcon_registration_city %></b>
      </div>
    </div>
  </div>
  <br>
  <div class="line">
    <%= @ikcontract.ikcon_exec_name %>
  </div>
  <div class="hint">
    наименование организации (органа по сертификации)
  </div>
  <div class="paragraph">
    <%= @ikcontract.ikcon_exec_named %> в дальнейшем <b>Исполнитель</b>, в лице
  </div>
  <div class="line">
    <%= @ikcontract.ikcon_exec_chief %>
  </div>
  <div class="hint">
    должность, фамилия, имя, отчество руководителя
  </div>
  <div class="paragraph">
    <%= @ikcontract.ikcon_exec_active %> на основании <%= @ikcontract.ikcon_exec_based_doc %> с одной стороны, и
  </div>
  <div class="line">
    <%= @ikcontract.ikcon_client_name %>
  </div>
  <div class="hint">
    наименование организации-изготовителя (продавца)
  </div>
  <div class="paragraph">
    <%= @ikcontract.ikcon_client_named %> в дальнейшем <b>Заказчик</b>, в лице
  </div>
  <div class="line">
    <%= @ikcontract.ikcon_client_chief %>
  </div>
  <div class="hint">
    должность, фамилия, имя, отчество руководителя
  </div>
  <div class="paragraph">
    <%= @ikcontract.ikcon_client_active %> на основании <%= @ikcontract.ikcon_client_based_doc %> с другой стороны, заключили
    настоящий договор о нижеследующем:
  </div>
  <br>
  <div class="caption">
    1. ПРЕДМЕТ ДОГОВОРА И ОБЯЗАТЕЛЬСТВА СТОРОН
  </div>
  <br>
  <div class="paragraph">
    1.1. Проведение <b>Исполнителем</b> инспекционного контроля за сертифицированной продукцией
  </div>
  <div class="line">
    <b><%= @ikcontract.ikcon_name_product %></b>
  </div>
  <div class="hint">
    наименование сертифицированной продукции
  </div>
  <div class="paragraph">
    на которую <b>Заказчику</b> выдан сертификат соответствия
  </div>
  <div class="line">
    <%= @ikcontract.ikcon_cert_registration_num %>
  </div>
  <div class="hint">
    номер сертификата соответствия
  </div>
  <div class="paragraph">
    Проверка выполнения Заказчиком обязанностей, указанных в полученном им сертификате
  </div>
  <br>
  <div class="paragraph">
    1.2. Инспекционный контроль проводится в соответствии с требованиями Системы сертификации ГОСТ Р
    и требованиями
  </div>
  <div class="line">
    <b>системы сертификации пищевых продуктов и продовольственного сырья</b>
  </div>
  <div class="hint">
    указать наименование системы сертификации однородной продукции
  </div>
  <div class="paragraph">
    в течение всего срока действия сертификата соответствия в форме инспекционных проверок, проводимых с переодичностью
    <b>не реже <%= @ikcontract.ikcon_inspection_period %></b>
  </div>
  <br>
  <div class="paragraph">
    1.3. Объем первой инспекционной проверки, ее содержание и сроки проведения, а также количество специалистов,
    проводящих инспекционную проверку, определяются Календарным планом (Приложение 1 к договору),
    являющимся неотъемлемой частью настоящего договора. Объем, содержание  и  сроки последующих
    инспекционных проверок определяются Исполнителем по согласованию с  Заказчиком в новых календарных планах,
    оформляемых после проведения первой и последующих проверок с учетом их результатов.
  </div>
  <br>
  <div class="paragraph">
    1.4. Исполнитель, в соответствии с нормативными документами на проверяемую  продукцию, определяет количество
    отбираемых образцов (проб) сертифицированной продукции, объем их испытаний и производит отбор образцов. Исполнитель
    вправе поручить отбор образцов (проб) территориальному органу Госстандарта или аккредитованной лаборатории.
  </div>
  <br>
  <div class="paragraph">
    1.5. Заказчик обязуется:
  </div>
  <div class="paragraph">
    1.5.1. Применять знак соответствия в соответствии с правилами Системы сертификации ГОСТ Р.
  </div>
  <div class="paragraph">
    1.5.2. Выполнять  обязанности,  указанные  в  полученном   сертификате   соответствия.
  </div>
  <div class="paragraph">
    1.5.3. Оплачивать Исполнителю стоимость произведенных работ по инспекционному контролю, испытаниям образцов (проб)
    продукции, командировочные и другие расходы в соответствии с разделом 2 настоящего договора.
  </div>
  <div class="paragraph">
    1.5.4. Возвратить Исполнителю сертификат соответствия при его аннулировании.
  </div>
  <br>
  <div class="paragraph">
    1.6. Исполнитель обязуется:
  </div>
  <div class="paragraph">
    1.6.1. Проводить работы по инспекционному контролю у Заказчика за сертифицированной продукцией в соответствии с
    пунктами 1.1, 1.2, 1.3, 1.4 настоящего договора и объективно оценить их результаты.
  </div>
  <div class="paragraph">
    1.6.2. Направлять Заказчику акты инспекционных проверок и другие, связанные с ними документы.
  </div>
  <div class="paragraph">
    1.6.3. Уведомлять Заказчика о нецелесообразности дальнейшего проведения инспекционного контроля, если в процессе
    проверки выявляется неизбежность получения отрицательного результата.
  </div>
  <div class="paragraph">
    1.6.4. Информировать Госстандарт и другие заинтересованные стороны в случае приостановления или аннулирования сертификата.
  </div>












</div>
<br class="no-print">
<br class="no-print">
<div class="paragraph no-print">
  <%= link_to t('link.back'), root_path %> |
  <%= link_to t('link.edit'), edit_ikcontract_path(@ikcontract) %> |
  <%= link_to t('link.destroy'), ikcontract_path(@ikcontract), method: :delete,
                                  data: { confirm: "Are you sure" }%> |
</div>
