= simple_form_for certcontract do |f|
  = f.input :proposal_id, as: :hidden
  .row
    .col-md-4
      = f.input :cecon_registration_num
    .col-md-4
      = f.input :cecon_registration_date,
                as: :date, start_year: Date.today.year - 10,
                end_year: Date.today.year + 10,
                html5: true
    .col-md-4
      = f.input :cecon_registration_city
  = f.input :cecon_name_product, as: :text, input_html: { rows: 3 }
  .row
    .col-md-6
      = f.input :cecon_date_from,
                as: :date, start_year: Date.today.year - 10,
                end_year: Date.today.year + 10,
                html5: true
    .col-md-6
      = f.input :cecon_date_expiry,
                as: :date, start_year: Date.today.year - 10,
                end_year: Date.today.year + 10,
                html5: true
  %h2.py-3 Стоимость работ
  = f.input :cecon_price_work
  = f.input :cecon_price_work_total
  %h2.py-3 Данные об Исполнителе
  = f.input :cecon_exec_name, as: :text, input_html: { rows: 3 }
  = f.input :cecon_exec_named, collection: DECLENSION_NAME, include_blank: false
  .row
    .col-md-6
      = f.input :cecon_exec_chief_position
    .col-md-6
      = f.input :cecon_exec_chief_name
  .row
    .col-md-6
      = f.input :cecon_exec_active, collection: DECLENSION_ACTIVE, include_blank: false
    .col-md-6
      = f.input :cecon_exec_based_doc
  = f.input :cecon_exec_address, as: :text, input_html: { rows: 3 }
  = f.input :cecon_exec_bank_details
  .row
    .col-md-6
      = f.input :cecon_exec_chief_position_sign
    .col-md-6
      = f.input :cecon_exec_chief_name_sign
  %h2.py-3 Данные о Заказчике
  = f.input :cecon_client_name, as: :text, input_html: { rows: 3 }
  = f.input :cecon_client_named, collection: DECLENSION_NAME, include_blank: false
  .row
    .col-md-6
      = f.input :cecon_client_chief_position
    .col-md-6
      = f.input :cecon_client_chief_name
  .row
    .col-md-6
      = f.input :cecon_client_active, collection: DECLENSION_ACTIVE, include_blank: false
    .col-md-6
      = f.input :cecon_client_based_doc
  = f.input :cecon_client_address, as: :text, input_html: { rows: 3 }
  = f.input :cecon_client_bank_details
  .row
    .col-md-6
      = f.input :cecon_client_chief_position_sign
    .col-md-6
      = f.input :cecon_client_chief_name_sign

  .col.pt-5
    = f.submit t("certcontracts.buttons.#{button}"), class: 'btn btn-dark btn-block'
