.row
  .col-md-10.col-md-offset-1
    = render partial: 'shared/form_errors', locals: { model: certcontract }
    = simple_form_for certcontract, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
      = f.input :proposal_id, as: :hidden
      .row
        .col-sm-6
          .form-group
            = f.label :cecon_registration_num, class: 'col-sm-8 control-label'
            .col-sm-4
              = f.input_field :cecon_registration_num, class: 'form-control'
        .col-sm-6
          .form-group
            = f.label :cecon_registration_date, class: 'col-sm-7 control-label'
            .col-sm-5
              = f.input_field :cecon_registration_date, as: :date, start_year: Date.today.year - 10,
                                                                   end_year: Date.today.year + 10,
                                                                   html5: true, class: 'form-control'
      = f.input :cecon_registration_city
      = f.input :cecon_name_product, as: :text, input_html: { rows: 3 }
      .form-group
        = f.label :cecon_date_from, class: 'col-sm-4 control-label'
        .col-sm-3
          = f.input_field :cecon_date_from, as: :date, start_year: Date.today.year - 10,
                                                       end_year: Date.today.year + 10,
                                                       html5: true, class: 'form-control'
      .form-group
        = f.label :cecon_date_expiry, class: 'col-sm-4 control-label'
        .col-sm-3
          = f.input_field :cecon_date_expiry, as: :date, start_year: Date.today.year - 10,
                                                         end_year: Date.today.year + 10,
                                                         html5: true, class: 'form-control'
      %hr.col-sm-12
      %h2 Стоимость работ
      = f.input :cecon_price_work
      = f.input :cecon_price_work_total
      %hr.col-sm-12
      %h2 Данные об Исполнителе
      = f.input :cecon_exec_name, as: :text, input_html: {  rows: 3 }
      = f.input :cecon_exec_named, collection: Certcontract::DECLENSION_NAME, include_blank: false
      = f.input :cecon_exec_chief_position
      = f.input :cecon_exec_chief_name
      = f.input :cecon_exec_active, collection: Certcontract::DECLENSION_ACTIVE, include_blank: false
      = f.input :cecon_exec_based_doc
      = f.input :cecon_exec_address, as: :text, input_html: { rows: 3 }
      = f.input :cecon_exec_bank_details
      = f.input :cecon_exec_chief_position_sign
      = f.input :cecon_exec_chief_name_sign
      %hr.col-sm-12
      %h2 Данные о Заказчике
      = f.input :cecon_client_name, as: :text, input_html: { rows: 3 }
      = f.input :cecon_client_named, collection: Certcontract::DECLENSION_NAME, include_blank: false
      = f.input :cecon_client_chief_position
      = f.input :cecon_client_chief_name
      = f.input :cecon_client_active, collection: Certcontract::DECLENSION_ACTIVE, include_blank: false
      = f.input :cecon_client_based_doc
      = f.input :cecon_client_address, as: :text, input_html: { rows: 3 }
      = f.input :cecon_client_bank_details
      = f.input :cecon_client_chief_position_sign
      = f.input :cecon_client_chief_name_sign
      %hr.col-sm-12
      = f.button :submit, 'Сохранить договор на проведение работ по сертификации', class: 'btn btn-primary center-block'
