<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <% if @certcontract.errors.any? %>
      <div class="error text-danger">
        <p>
          <%= pluralize(@certcontract.errors.count, "error") %> prohibited
          this certcontract from being saved:
        </p>
        <ul>
          <% @certcontract.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= simple_form_for @certcontract, html: { class: "form-horizontal" }, wrapper: :horizontal_form do |f| %>
      <%= f.input :proposal_id, as: :hidden %>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :cecon_registration_num, class: "col-sm-8 control-label" %>
              <div class="col-sm-4">
                <%= f.input_field :cecon_registration_num, class: "form-control" %>
              </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :cecon_registration_date, class: 'col-sm-8 control-label' %>
            <div class="col-sm-4">
              <%= f.input_field :cecon_registration_date, as: :date, start_year: Date.today.year - 10,
                                                                     end_year: Date.today.year + 10,
                                                                     html5: true, class: "form-control" %>
            </div>
          </div>
        </div>
      </div>
      <%= f.input :cecon_registration_city %>
      <%= f.input :cecon_name_product, as: :text, input_html: { rows: 3 } %>
      <div class="form-group">
        <%= f.label :cecon_date_from, class: 'col-sm-4 control-label' %>
        <div class="col-sm-2">
          <%= f.input_field :cecon_date_from, as: :date, start_year: Date.today.year - 10,
                                                         end_year: Date.today.year + 10,
                                                         html5: true, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :cecon_date_expiry, class: 'col-sm-4 control-label' %>
        <div class="col-sm-2">
          <%= f.input_field :cecon_date_expiry, as: :date, start_year: Date.today.year - 10,
                                                           end_year: Date.today.year + 10,
                                                           html5: true, class: "form-control" %>
        </div>
      </div>
      <hr class="col-sm-12">
      <h2>Данные об Исполнителе</h2>
      <%= f.input :cecon_exec_name, as: :text, input_html: {  rows: 3 } %>
      <%= f.input :cecon_exec_named, collection: [ "именуемый", "именуемая", "именуемое" ], include_blank: false %>
      <%= f.input :cecon_exec_chief_position %>
      <%= f.input :cecon_exec_chief_name %>
      <%= f.input :cecon_exec_active, collection: [ "действующего", "действующей", "действующий",
                                                    "действующее", "действующая"], include_blank: false %>
      <%= f.input :cecon_exec_based_doc %>
      <%= f.input :cecon_exec_address, as: :text, input_html: { rows: 3 } %>
      <%= f.input :cecon_exec_bank_details %>
      <%= f.input :cecon_exec_chief_position_sign %>
      <%= f.input :cecon_exec_chief_name_sign %>
      <hr class="col-sm-12">
      <h2>Данные о Заказчике</h2>
      <%= f.input :cecon_client_name, as: :text, input_html: { rows: 3 } %>
      <%= f.input :cecon_client_named, collection: [ "именуемый", "именуемая", "именуемое" ], include_blank: false %>
      <%= f.input :cecon_client_chief_position %>
      <%= f.input :cecon_client_chief_name %>
      <%= f.input :cecon_client_active, collection: [ "действующего", "действующей", "действующий",
                                                      "действующее", "действующая"], include_blank: false %>
      <%= f.input :cecon_client_based_doc %>
      <%= f.input :cecon_client_address, as: :text, input_html: { rows: 3 } %>
      <%= f.input :cecon_client_bank_details %>
      <%= f.input :cecon_client_chief_position_sign %>
      <%= f.input :cecon_client_chief_name_sign %>
      <hr class="col-sm-12">

      <%= f.button :submit, "Сохранить договор на проведение работ по сертификации", class: 'btn btn-primary center-block' %>
    <% end %>
  </div>
</div>
