- provide(:title, "Договор на проведение работ по сертификации от,
                  #{@certcontract.cecon_registration_date.try(:strftime, '%d.%m.%Y')},
                  № #{@certcontract.cecon_registration_num}")
= render 'shared/links'
%h1
  Договор на проведение работ по сертификации от
  #{@certcontract.cecon_registration_date.try(:strftime, '%d.%m.%Y')} № #{@certcontract.cecon_registration_num}
= render partial: 'form', locals: { certcontract: @certcontract }
