<% provide(:title, "Договор на проведение работ по сертификации от
                    #{@certcontract.cecon_registration_date.strftime("%d.%m.%Y")}
                    № #{@certcontract.cecon_registration_num}") %>
<%= link_to t('link.back'), :back %>
<br>
<h1>
  Договор на проведение работ по сертификации от <%= @certcontract.cecon_registration_date.strftime("%d.%m.%Y") %>
  № <%= @certcontract.cecon_registration_num %>

</h1>
<%= render 'form' %>
<br>
<%= link_to t('link.back'), :back %>
