%ul.sidebar-nav.d-print-none
  %li= link_to t('link.back'), certcontract_path(@certcontract)

- provide :title do
  = t('certcontracts.headers.edit')
  = format_date(@certcontract.cecon_registration_date)
  №
  = @certcontract.cecon_registration_num
.page-body
  %h2.text-center.py-3
    = t('certcontracts.headers.edit')
    = format_date(@certcontract.cecon_registration_date)
    №
    = @certcontract.cecon_registration_num
  = render partial: 'form', locals: { certcontract: @certcontract, button: 'edit' }
