<% provide(:title, "Договор на проведение работ по сертификации от
                   #{@certcontract.cecon_registration_date.strftime("%d.%m.%Y")}
                   № #{@certcontract.cecon_registration_num}") %>

<div class="paragraph no-print">
  <%= link_to t('link.back'), root_path %> |
  <%= link_to t('link.edit'), edit_certcontract_path(@certcontract) %> |
  <%= link_to t('link.destroy'), certcontract_path(@certcontract), method: :delete,
                                  data: { confirm: "Are you sure" }%>
</div>
<br class="no-print">
<br class="no-print">
<div class="page-body">
  <div class="caption">
    ДОГОВОР<br>
    на проведение работ по сертификации продукции
  </div>
  <br>
  <div class="div-table">
    <div class="div-table-row">
      <div class="div-table-col col-width-1">
        <b><%= @certcontract.cecon_registration_date.strftime("%d.%m.%Y") %></b>
      </div>
      <div class="div-table-col col-width-2">
        <b>№ <%= @certcontract.cecon_registration_num %></b>
      </div>
      <div class="div-table-col col-width-9 right">
        <b><%= @certcontract.cecon_registration_city %></b>
      </div>
    </div>
  </div>
  <br>
  <div class="line">
    <%= @certcontract.cecon_exec_name %>
  </div>
  <div class="hint">
    наименование организации (органа по сертификации)
  </div>
  <div class="paragraph">
    <%= @certcontract.cecon_exec_named %> в дальнейшем <b>Исполнитель</b>, в лице
  </div>
  <div class="line">
    <%= "#{@certcontract.cecon_exec_chief_position} #{@certcontract.cecon_exec_chief_name}" %>
  </div>
  <div class="hint">
    должность, фамилия, имя, отчество руководителя
  </div>
  <div class="paragraph">
    <%= @certcontract.cecon_exec_active %> на основании <%= @certcontract.cecon_exec_based_doc %> с одной стороны, и
  </div>
  <div class="line">
    <%= @certcontract.cecon_client_name %>
  </div>
  <div class="hint">
    наименование организации-изготовителя (продавца)
  </div>
  <div class="paragraph">
    <%= @certcontract.cecon_client_named %> в дальнейшем <b>Заказчик</b>, в лице
  </div>
  <div class="line">
    <%= "#{@certcontract.cecon_client_chief_position} #{@certcontract.cecon_client_chief_name}" %>
  </div>
  <div class="hint">
    должность, фамилия, имя, отчество руководителя
  </div>
  <div class="paragraph">
    <%= @certcontract.cecon_client_active %> на основании <%= @certcontract.cecon_client_based_doc %> с другой стороны, заключили
    настоящий договор о нижеследующем:
  </div>
  <br>
  <div class="caption">
    1. ПРЕДМЕТ ДОГОВОРА И ОБЯЗАТЕЛЬСТВА СТОРОН
  </div>
  <br>
  <div class="paragraph">
    1.1. Заказчик поручает, а Исполнитель принимает на себя проведение сертификации в системе сертификации ГОСТ Р продукции:
  </div>
  <div class="line">
    <b><%= @certcontract.cecon_name_product %></b>
  </div>
  <div class="hint">
    наименование сертифицированной продукции
  </div>
  <div class="paragraph">
    на которую <b>Заказчику</b> выдан сертификат соответствия
  </div>
  <div class="hint">
    номер сертификата соответствия
  </div>
  <div class="paragraph">
    Проверка выполнения Заказчиком обязанностей, указанных в полученном им сертификате
  </div>
  <br>
  <div class="paragraph">
    1.2. Сертификация проводится в соответствии с требованиями Системы сертификации ГОСТ Р
    и требованиями
  </div>
  <div class="line">
    <b>системы сертификации пищевых продуктов и продовольственного сырья</b>
  </div>
  <div class="hint">
    указать наименование системы сертификации однородной продукции
  </div>
  <br>
  <div class="paragraph">
    1.3. Содержание и трудоемкость основных этапов работ, выполняемых органом по сертификации, определяется
    в соответствии с утвержденными Госстандартом России "Правилами по сертификации. Оплата работ по сертификации
    продукции и услуг" и изложены на стр.4 настоящего договора.
  </div>
  <br>
  <div class="paragraph">
    1.4. Испытания  продукции проходят в испытательных лабораториях по отдельным договорам, сроки и стоимости которых
    устанавливаются лабораториями самостоятельно.
  </div>
  <br>
  <div class="paragraph">
    1.5. Работы по инспекционному контролю за сертифицированной продукцией проводятся отдельно на условиях, оговариваемых
    в Договоре на проведение инспекционного контроля.
  </div>
  <br>
  <div class="caption">
    2. СТОИМОСТЬ РАБОТ И ПОРЯДОК РАСЧЕТОВ
  </div>
  <br>
  <div class="paragraph">
    2.1. Стоимость работ по настоящему договору, калькулируемая в соответствии с утвержденными Госстандартом России
    "Правилами по сертификации. Оплата работ по сертификации продукции и услуг" (рег. № РОСС RU.0001.00ДД01), составляет:
  </div>
  <div class="line">
    <b>Шесть тысяч пятьсот рублей.</b>
  </div>
  <div class="hint">
    указать стоимость работ в рублях (прописью)
  </div>
  <div class="line">
    <b>ИТОГО: Шесть тысяч пятьсот рублей.</b>
  </div>
  <div class="hint">
    указать полную стоимость в рублях (прописью)
  </div>
  <div class="paragraph">
    Калькуляция стоимости работ предоставляется Заказчику по его требованию.
  </div>
  <br>
  <div class="paragraph">
    2.2. Заказчик после подписания договора обязуется в течение десяти дней перечислить Исполнителю сумму, указанную в п.2.1.
  </div>
  <br>
  <div class="paragraph">
    2.3. Исполнитель выполняет работы по сертификации после перечисления на его расчетный счет денежных средств согласно п.2.2.
  </div>
  <br>
  <div class="paragraph">
    2.4. Оплата работ по сертификации производится Заказчиком вне зависимости от принятых по их результатам решений.
  </div>
  <br>
  <div class="paragraph">
    2.5. В случае неперечисления суммы договора в соответствии с п.2.2 договор считается расторгнутым.
  </div>
  <br>
  <div class="caption">
    3. ПОРЯДОК СДАЧИ И ПРИЕМКИ РАБОТ
  </div>
  <br>
  <div class="paragraph">
    3.1. По завершении всех предусмотренных процедурой сертификации работ Исполнитель и Заказчик подписывают двусторонний 
    акт сдачи-приемки.
  </div>
  <br>
  <div class="paragraph">
    3.2. При положительном результате проведенных работ по сертификации Исполнитель предоставляет Заказчику сертификат
    соответствия.
  </div>
  <br>
  <div class="paragraph">
    3.3. В случае отрицательного результата проведенных работ Исполнитель предоставляет Заказчику мотивированное решение
    об отказе в выдаче сертификата.
  </div>
  <br>
  <div class="caption">
    4. ОТВЕТСТВЕННОСТЬ СТОРОН
  </div>
  <br>
  <div class="paragraph">
    4.1. За невыполнение или ненадлежащее выполнение обязательств по настоящему договору Исполнитель и Заказчик несут
    ответственность в cоответствии с действующим законодательством.
  </div>
  <br>
  <div class="paragraph">
    4.2. В случае расторжения договора в процессе проведения работ по сертификации Исполнитель возвращает Заказчику оплату
    за невыполненные этапы работ в размере, пропорциональном их суммарной трудоемкости.
  </div>
  <br>
  <div class="paragraph">
    4.3. Сторона, являющаяся инициатором расторжения договора, выплачивает другой стороне неустойку в размере десяти
    процентов от стоимости договора согласно п.2.1, которая выплачивается в десятидневный срок с момента уведомления
    о расторжении договора.
  </div>
  <br>
  <div class="caption">
    5. ДРУГИЕ УСЛОВИЯ
  </div>
  <br>
  <div class="paragraph">
    5.1. Стороны обязуются сохранять конфиденциальность информации, представляющей коммерческую тайну.
  </div>
  <br>
  <div class="caption">
    6. СРОК ДЕЙСТВИЯ ДОГОВОРА И ЮРИДИЧЕСКИЕ АДРЕСА СТОРОН
  </div>
  <br>
  <div class="paragraph">
    6.1. Договор вступает в силу с <%= @certcontract.cecon_date_from.strftime("%d.%m.%Y") %>
  </div>
  <br>
  <div class="paragraph">
    6.2. Срок действия договора заканчивается <%= @certcontract.cecon_date_expiry.strftime("%d.%m.%Y") %>
  </div>
  <br>
  <div class="div-table">
    <div class="div-table-row">
      <div class="div-table-col col-width-3">
        <b>Исполнитель:</b>
      </div>
      <div class="div-table-col col-width-9">
        <div class="line">
        <%= @certcontract.cecon_exec_address %>
        </div>
        <div class="hint">
          юридический адрес исполнителя
        </div>
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-3">
      </div>
      <div class="div-table-col col-width-9">
        <div class="line">
          <%= @certcontract.cecon_exec_bank_details %>
        </div>
        <div class="hint">
          расчетный счет исполнителя, реквизиты банка
        </div>
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-3">
        <b>Заказчик:</b>
      </div>
      <div class="div-table-col col-width-9">
        <div class="line">
        <%= @certcontract.cecon_client_address %>
        </div>
        <div class="hint">
          юридический адрес заказчика
        </div>
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-3">
      </div>
      <div class="div-table-col col-width-9">
        <div class="line">
          <%= @certcontract.cecon_client_bank_details %>
        </div>
        <div class="hint">
          расчетный счет заказчика, реквизиты банка
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="div-table more">
    <div class="div-table-row">
      <div class="div-table-col col-width-5">
        <b>От Исполнителя</b>
      </div>
      <div class="div-table-col col-width-2">
      </div>
      <div class="div-table-col col-width-5">
        <b>От Заказчика</b>
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-5">
        <b><%= @certcontract.cecon_exec_chief_position_sign %></b>
      </div>
      <div class="div-table-col col-width-2">
      </div>
      <div class="div-table-col col-width-5">
        <b><%= @certcontract.cecon_client_chief_position_sign %></b>
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-5">
        <div class="line">
        </div>
      </div>
      <div class="div-table-col col-width-2">
      </div>
      <div class="div-table-col col-width-5">
        <div class="line">
        </div>
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-5 center">
        <%= @certcontract.cecon_exec_chief_name_sign %>
      </div>
      <div class="div-table-col col-width-2">
      </div>
      <div class="div-table-col col-width-5 center">
        <%= @certcontract.cecon_client_chief_name_sign %>
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-5 center">
        М.П.
      </div>
      <div class="div-table-col col-width-2">
      </div>
      <div class="div-table-col col-width-5 center">
        М.П.
      </div>
    </div>
  </div>
  <br class="no-print">
  <hr class="col-width-12 hr-light no-print">
  <br class="no-print">
  <div class="caption">
    СОДЕРЖАНИЕ И ТРУДОЕМКОСТЬ ОСНОВНЫХ ЭТАПОВ РАБОТ
  </div>
  <div class="div-table">
    <div class="div-table-row">
      <div class="div-table-col col-width-6 center border-lt">
        Наименование работ по договору*
      </div>
      <div class="div-table-col col-width-2 center border-lt">
        Трудоемкость (чел. дн.) на одну группу продукции
      </div>
      <div class="div-table-col col-width-2 center border-lt">
        Трудоемкость (чел. дн.) всего
      </div>
      <div class="div-table-col col-width-2 center border-ltr">
        Примечание
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-6 center border-lt">
        <b>1</b>
      </div>
      <div class="div-table-col col-width-2 center border-lt">
        <b>2</b>
      </div>
      <div class="div-table-col col-width-2 center border-lt">
        <b>3</b>
      </div>
      <div class="div-table-col col-width-2 center border-ltr">
        <b>4</b>
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-6 border-lt">
        <ol class="ol-table">
          <li>
            Прием, входной контроль и регистрация заявки.
          </li>
          <li>
            Рассмотрение документов, приложенных к заявке.
          </li>
          <li>
            Предварительное ознакомление с состоянием производства сертифицируемой продукции.
          </li>
          <li>
            Выбор схемы и программы сертификациии.
          </li>
          <li>
            Определение организаций-соисполнителей работ.
          </li>
          <li>
            Подготовка решения по заявке.
          </li>
          <li>
            Отбор и идентификация образцов для проведения сертификационных испытаний.
          </li>
          <li>
            Анализ протоколов испытаний.
          </li>
          <li>
            Анализ состояния производства продукции (схемы 1а, 2а, 3а, 4а, 5, 6, 9а, 10а).
          </li>
          <li>
            Анализ результатов работ по сертификации производства или системы качества (схемы 5, 6).
          </li>
          <li>
            Оценка соответствия продукции установленным требованиям и подготовка решения о возможности выдачи
            сертификата соответствия.
          </li>
          <li>
            Оформление результатов работы:<br>
            - при положительном решении - оформление сертификата соответствия, занеcение сертифицированной
            продукции в Госреестр, подписание Заказчиком договора на проведение инспекционного контроля;<br>
             - при отрицательном решении - оформление мотивированного решения об отказе в выдаче сертификата;
          </li>
        </ol>
      </div>
      <div class="div-table-col col-width-2 center border-lt">
      </div>
      <div class="div-table-col col-width-2 center border-lt">
      </div>
      <div class="div-table-col col-width-2 center border-ltr">
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-6 border-ltb">
        <b>ИТОГО:</b>
      </div>
      <div class="div-table-col col-width-2 center border-ltb">
      </div>
      <div class="div-table-col col-width-2 center border-ltb">
      </div>
      <div class="div-table-col col-width-2 center border">
      </div>
    </div>
  </div>
  <div class="note">
    * Примечание: этапы работ, невыполняемые для указанной схемы сертификации, сопровождаются прочерком в графе 3. Если при
    сертификации нескольких групп продукции трудоемкость сертификации для первой и последующих групп продукции отличаются,
    то в соответствующих строках во 2-й графе таблицы указываются два значения трудоемкости (для первой группы продукции и
    для каждой последующей), разделенные наклонной чертой "/".
  </div>
  <br>
  <div class="div-table">
    <div class="div-table-row">
      <div class="div-table-col col-width-5">
        Ответственный исполнитель работ:
      </div>
      <div class="div-table-col col-width-1">
      </div>
      <div class="div-table-col-hr col-width-2">
      </div>
      <div class="div-table-col col-width-1">
      </div>
      <div class="div-table-col col-width-2">
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-5">
        Начальник отдела:
      </div>
      <div class="div-table-col col-width-1">
      </div>
      <div class="div-table-col-hr col-width-2">
      </div>
      <div class="div-table-col col-width-1">
      </div>
      <div class="div-table-col col-width-2">
        <%= @setting.set_os_chief_name %>
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-5">
        Согласовано с заказчиком:
      </div>
      <div class="div-table-col col-width-1">
      </div>
      <div class="div-table-col-hr col-width-2">
      </div>
      <div class="div-table-col col-width-1">
      </div>
      <div class="div-table-col col-width-2">
        <%= @certcontract.cecon_client_chief_name %>
      </div>
    </div>
  </div>
</div>
<br class="no-print">
<br class="no-print">
<div class="paragraph no-print">
  <%= link_to t('link.back'), root_path %> |
  <%= link_to t('link.edit'), edit_certcontract_path(@certcontract) %> |
  <%= link_to t('link.destroy'), certcontract_path(@certcontract), method: :delete,
                                  data: { confirm: "Are you sure" }%>
</div>
