- provide :title do
  = t('certcontracts.headers.edit')
  = format_date(@certcontract.cecon_registration_date)
  №
  = @certcontract.cecon_registration_num
= render partial: 'links', locals: { certcontract: @certcontract }
.page-body
  .caption
    ДОГОВОР
    %br
    на проведение работ по сертификации продукции
  %br
  .paragraph
    .row
      .col-md-4
        %b
          = format_date(@certcontract.cecon_registration_date)
          №
          = @certcontract.cecon_registration_num
      .col-md-8.text-right
        %b= @certcontract.cecon_registration_city
  %br
  .line
    = @certcontract.cecon_exec_name
  .hint
    наименование организации (органа по сертификации)
  .paragraph
    = @certcontract.cecon_exec_named
    в дальнейшем
    %b Исполнитель
    в лице
  .line
    = @certcontract.cecon_exec_chief_position
    = @certcontract.cecon_exec_chief_name
  .hint
    должность, фамилия, имя, отчество руководителя
  .paragraph
    = @certcontract.cecon_exec_active
    на основании
    = @certcontract.cecon_exec_based_doc
    с одной стороны, и
  .line
    = @certcontract.cecon_client_name
  .hint
    наименование организации-изготовителя (продавца)
  .paragraph
    = @certcontract.cecon_client_named
    в дальнейшем
    %b Заказчик
    в лице
  .line
    = @certcontract.cecon_client_chief_position
    = @certcontract.cecon_client_chief_name
  .hint
    должность, фамилия, имя, отчество руководителя
  .paragraph
    = @certcontract.cecon_client_active
    на основании
    = @certcontract.cecon_client_based_doc
    с другой стороны, заключили настоящий договор о нижеследующем:
  %br
  .caption
    1. ПРЕДМЕТ ДОГОВОРА И ОБЯЗАТЕЛЬСТВА СТОРОН
  %br
  .paragraph
    1.1. Заказчик поручает, а Исполнитель принимает на себя
    проведение сертификации в системе сертификации ГОСТ Р продукции:
  .line
    %b= @certcontract.cecon_name_product
  .hint
    наименование сертифицированной продукции
  .paragraph
    Исполнитель обязан соблюдать требования к проведению работ по сертификации, установленные законодательными
    и нормативными документами, уведомлять заказчика обо всех изменениях, внесенных в требования, предъявляемые
    при сертификации, в том числе схемы.
  .paragraph
    Заказчик обязан:
    %ul
      %li
        постоянно выполнять сертификационные требования, включая внесение соответствующих изменений,
        сообщаемых Исполнителю;
      %li
        обеспечивать соответствие сертифицированной продукции требованиям на которые она была
        сертифицирована;
  .paragraph
    принимать необходимые меры для:
    %ul
      %li
        оценивая, включая возможность изучения документации и записей, а также доступ к оборудованным
        местам и зонам проверки при сертификации;
      %li рассмотрения жалоб;
      %li выступать с заявлениями, только в рамках проведенной сертификации;
      %li
        использовать сертификацию продукции таким образом, чтобы не нанести ущерб репутации
        Исполнителя и отказа от каких либо заявлений, касающихся сертификации продукции, которые могут
        рассматриваться, как непозволительные и вводящие в заблуждение;
      %li
        приостановки и отмены сертификации, прекращения использования всех средств рекламного характера
        ссылающихся на сертификацию, принятия мер согласно требованиям Правил по сертификации;
      %li
        предоставления другим лицам копий документов по сертификации, воспроизведенных во всей полноте
        или как это оговорено в правилах по сертификации;
      %li
        выполнения требований Исполнителя для осуществления действий, предписанных правилами по
        сертификации при ссылках на сертификацию продукции в средствах массовой информации;
      %li
        выполнения любых требований, устанавливаемых правилами по сертификации в отношении
        использования знаков соответствия;
      %li
        ведения записей всех жалоб, доведенных до сведения заказчика и касающихся выполнения
        сертификационных требований, и представления их Исполнителю по его запросу;
      %li
        принятие соответствующих мер в отношении жалоб и любых недостатков, обнаруженных в продукции,
        которые влияют на соответствие сертификационным требованиям;
      %li
        незамедлительного информирования Исполнителя об изменениях, которые могут повлиять на
        выполнение сертификационных требований.
  .paragraph
    1.2. Сертификация проводится в соответствии с требованиями Системы сертификации ГОСТ Р
    и требованиями
  .line
    %b системы сертификации пищевых продуктов и продовольственного сырья
  .hint
    указать наименование системы сертификации однородной продукции
  %br
  .paragraph
    1.3. Содержание и трудоемкость основных этапов работ, выполняемых органом по сертификации, определяется
    в соответствии с утвержденными Госстандартом России "Правилами по сертификации. Оплата работ по сертификации
    продукции и услуг" и изложены на стр.4 настоящего договора.
  %br
  .paragraph
    1.4. Испытания  продукции проходят в испытательных лабораториях по отдельным договорам, сроки и стоимости которых
    устанавливаются лабораториями самостоятельно.
  %br
  .paragraph
    1.5. Работы по инспекционному контролю за сертифицированной продукцией проводятся
    отдельно на условиях, оговариваемых
    в Договоре на проведение инспекционного контроля.
  %br
  .caption
    2. СТОИМОСТЬ РАБОТ И ПОРЯДОК РАСЧЕТОВ
  %br
  .paragraph
    2.1. Стоимость работ по настоящему договору, калькулируемая
    в соответствии с утвержденными Госстандартом России
    "Правилами по сертификации. Оплата работ по сертификации продукции
    и услуг" (рег. № РОСС RU.0001.00ДД01), составляет:
  .line
    %b #{@certcontract.cecon_price_work} рублей
  .hint
    указать стоимость работ в рублях (прописью)
  .line
    %b ИТОГО: #{@certcontract.cecon_price_work_total} рублей
  .hint
    указать полную стоимость в рублях (прописью)
  .paragraph
    Калькуляция стоимости работ предоставляется Заказчику по его требованию.
  %br
  .paragraph
    2.2. Заказчик после подписания договора обязуется в течение десяти
    дней перечислить Исполнителю сумму, указанную в п.2.1.
  %br
  .paragraph
    2.3. Исполнитель выполняет работы по сертификации после перечисления
    на его расчетный счет денежных средств согласно п.2.2.
  %br
  .paragraph
    2.4. Оплата работ по сертификации производится Заказчиком вне
    зависимости от принятых по их результатам решений.
  %br
  .paragraph
    2.5. В случае неперечисления суммы договора в соответствии с п.2.2 договор считается расторгнутым.
  %br
  .caption
    3. ПОРЯДОК СДАЧИ И ПРИЕМКИ РАБОТ
  %br
  .paragraph
    3.1. По завершении всех предусмотренных процедурой сертификации работ
    Исполнитель и Заказчик подписывают двусторонний
    акт сдачи-приемки.
  %br
  .paragraph
    3.2. При положительном результате проведенных работ по сертификации
    Исполнитель предоставляет Заказчику сертификат
    соответствия.
  %br
  .paragraph
    3.3. В случае отрицательного результата проведенных работ Исполнитель
    предоставляет Заказчику мотивированное решение
    об отказе в выдаче сертификата.
  %br
  .caption
    4. ОТВЕТСТВЕННОСТЬ СТОРОН
  %br
  .paragraph
    4.1. За невыполнение или ненадлежащее выполнение
    обязательств по настоящему договору Исполнитель и Заказчик несут
    ответственность в cоответствии с действующим законодательством.
  %br
  .paragraph
    4.2. В случае расторжения договора в процессе проведения работ по
    сертификации Исполнитель возвращает Заказчику оплату
    за невыполненные этапы работ в размере, пропорциональном их суммарной трудоемкости.
  %br
  .paragraph
    4.3. Сторона, являющаяся инициатором расторжения договора,
    выплачивает другой стороне неустойку в размере десяти
    процентов от стоимости договора согласно п.2.1, которая
    выплачивается в десятидневный срок с момента уведомления
    о расторжении договора.
  %br
  .caption
    5. ДРУГИЕ УСЛОВИЯ
  %br
  .paragraph
    5.1. Стороны обязуются сохранять конфиденциальность информации, представляющей коммерческую тайну.
  %br
  .caption
    6. СРОК ДЕЙСТВИЯ ДОГОВОРА И ЮРИДИЧЕСКИЕ АДРЕСА СТОРОН
  %br
  .paragraph
    6.1. Договор вступает в силу с
    = format_date(@certcontract.cecon_date_from)
  %br
  .paragraph
    6.2. Срок действия договора заканчивается
    = format_date(@certcontract.cecon_date_expiry)
  %br
  .paragraph
    .row
      .col-md-3
        %b Исполнитель:
      .col-md-9
        .line
          = @certcontract.cecon_exec_address
        .hint
          юридический адрес исполнителя
    .row
      .col-md-3
      .col-md-9
        .line
          = @certcontract.cecon_exec_bank_details
        .hint
          расчетный счет исполнителя, реквизиты банка
    .row
      .col-md-3
        %b Заказчик:
      .col-md-9
        .line
          = @certcontract.cecon_client_address
        .hint
          юридический адрес заказчика
    .row
      .col-md-3
      .col-md-9
        .line
          = @certcontract.cecon_client_bank_details
        .hint
          расчетный счет заказчика, реквизиты банка
  %br
  .paragraph
    .row
      .col-md-5
        %b От Исполнителя
      .col-md-2
      .col-md-5
        %b От Заказчика
    .row
      .col-md-5
        %b= @certcontract.cecon_exec_chief_position_sign
      .col-md-2
      .col-md-5
        %b= @certcontract.cecon_client_chief_position_sign
    .row
      .col-md-5
        .line
      .col-md-2
      .col-md-5
        .line
    .row
      .col-md-5.text-center
        = @certcontract.cecon_exec_chief_name_sign
      .col-md-2
      .col-md-5.text-center
        = @certcontract.cecon_client_chief_name_sign
    .row
      .col-md-5.text-center
        М.П.
      .col-md-2
      .col-md-5.text-center
        М.П.
