<div class="link-stuck no-print">
  <%= link_to t('link.back'), root_path %> |
  <%= link_to t('link.edit'), edit_solution_proposal_path %> | 
  <%= link_to t('link.destroy'), @solution_proposal, method: :delete,
                                                     data: { confirm: "Вы уверены?" } %> |
  <%= link_to t('link.new_protocol'), new_protocol_path(solution_proposal_id: @solution_proposal.id) %>
  <% if @solution_proposal.conclusion.nil? %>
    | <%= link_to t('link.new_conclusion'), new_conclusion_path(solution_proposal_id: @solution_proposal.id) %>
  <% end %>
</div>
<br class="no-print">
<br class="no-print">
