%ul.sidebar-nav.d-print-none
  %li
    = link_to t('link.back'), root_path
  %li
    = link_to t('link.edit'), edit_solution_proposal_path(solution_proposal)
  %li
    = link_to t('link.destroy'), solution_proposal,
                                 method: :delete,
                                 data: { confirm: 'Вы уверены?' }
  %li
    = link_to t('link.new_protocol'), new_protocol_path(solution_proposal_id: solution_proposal.id)
  - unless solution_proposal.conclusion
    %li
      = link_to t('link.new_conclusion'), new_conclusion_path(solution_proposal_id: solution_proposal.id)
