.col-md-2.fixed-top.mt-10.no-print
  %ul.nav.flex-column
    %li.nav-item
      = link_to t('link.back'), root_path, class: 'nav-link'
    %li.nav-item
      = link_to t('link.edit'), edit_solution_proposal_path(solution_proposal), class: 'nav-link'
    %li.nav-item
      = link_to t('link.destroy'), solution_proposal,
                                   method: :delete,
                                   data: { confirm: 'Вы уверены?' },
                                   class: 'nav-link'
    %li.nav-item
      = link_to t('link.new_protocol'), new_protocol_path(solution_proposal_id: solution_proposal.id),
                                            class: 'nav-link'
    - unless solution_proposal.conclusion
      %li.nav-item
        = link_to t('link.new_conclusion'), new_conclusion_path(solution_proposal_id: solution_proposal.id),
                                                   class: 'nav-link'
