<% provide(:title, "Решение по заявке № #{@solution_proposal.solprop_number}") %>
<div class="paragraph no-print">
  <%= link_to t('link.back'), root_path %> | 
  <%= link_to t('link.edit'), edit_solution_proposal_path %> | 
  <%= link_to t('link.destroy'), solution_proposal_path(@solution_proposal),
      method: :delete,
      data: { confirm: 'Are you sure?' } %>
  <% if @solution_proposal.protocol.nil? %>
    | <%= link_to t('link.new_protocol'), new_protocol_path(solution_proposal_id: @solution_proposal.id) %>
  <% end %>
</div>
<h1 class="no-print">Решение по заявке № <%= @solution_proposal.solprop_number %></h1>
<div class="page-body">
  <div class="line">
    <% @setting.set_organization.split("\r\n").each do |set_org| %>
      <%= set_org %><br>
    <% end %>
    <%= @setting.set_name %>
  </div>
  <div class="hint">
    Наименование органа по сертификации
  </div>
  <div class="line">
    <%= @setting.set_address %>
  </div>
  <div class="hint">
    адрес, телефон, факс
  </div>
  <br>
  <div class="caption">
    РЕШЕНИЕ ПО ЗАЯВКЕ № <%= @solution_proposal.solprop_number %> от <%= @solution_proposal.solprop_date_from.strftime("%d.%m.%Y") %><br>
    <%= @solution_proposal.solprop_solution %> сертификации продукции
  </div>
  <br>
  <div class="paragraph">
    В результате рассмотрения заявки <b>№ <%= @proposal.prop_number %></b> от <b><%= @proposal.prop_date_from.strftime("%d.%m.%Y") %></b>
  </div>
  <div class="line">
    <b><%= @proposal.prop_applic_name %><br>
    <%= @proposal.prop_applic_reg_doc %></b>
  </div>
  <div class="hint">
    наименование организации-изготовителя, продавца или индивидуального предпринимателя (далее - заявитель)
  </div>
  <div class="paragraph">
    Юридический адрес: <b><%= @proposal.prop_applic_address %>, <%= @proposal.prop_applic_postcode %></b>
  </div>
  <div class="paragraph">
    Телефон: <b><%= @proposal.prop_applic_phone %></b> Факс: <b><%= @proposal.prop_applic_fax %></b> Почта: <b><%= @proposal.prop_applic_email %></b>
  </div>
  <div class="paragraph">
    На проведение <b>добровольной</b> сертификации продукции:
  </div>
  <div class="line">
    <b><%= @solution_proposal.solprop_applic_name_product %></b>
  </div>
  <div class="hint">
    наименование продукции
  </div>
  <div class="div-table">
    <div class="div-table-row">
      <div class="div-table-col col-width-4">
        Код ОК 005-93 (ОКП)
      </div>
      <div class="div-table-col-hr col-width-2">
        <b><%= @solution_proposal.solprop_applic_code_okp %></b>
      </div>
      <div class="div-table-col col-width-2">
        Код ТН ВЭД
      </div>
      <div class="div-table-col-hr col-width-2">
        <b><%= @solution_proposal.solprop_applic_code_tn_ved %></b>
      </div>
    </div>
  </div>
  <div class="line">
    <b><%= @proposal.prop_applic_from_issue %></b>
  </div>
  <div class="hint">
    серийный выпуск, или партия определенного размера, или единица продукции
  </div>
  <div class="paragraph">
    выпускаемой изготовителем
  </div>
  <div class="line">
    <b><%= @solution_proposal.solprop_manuf_name %></b>
  </div>
  <div class="hint">
    наименование изготовителя
  </div>
  <div class="line">
    <b><%= @solution_proposal.solprop_manuf_address %>, <%= @solution_proposal.solprop_manuf_postcode %></b>
  </div>
  <div class="hint">
    адрес
  </div>
  <div class="line">
    по <b><%= @solution_proposal.solprop_manuf_doc %></b>
  </div>
  <div class="hint">
    наименование и обозначение документации изготовителя (стандарт, ТУ, КД, образец-эталон)
  </div>
  <div class="paragraph">
    и представленных заявителем документов:
  </div>
  <div class="line">
    <b><%= @solution_proposal.solprop_manuf_list_doc %></b>
  </div>
  <div class="hint">
    перечень представленных заявителем документов, подтверждающих соответствие продукции установленным требованиям
  </div>
  <br>
  <div class="paragraph">
    <% @setting.set_organization.split("\r\n").each do |set_org| %>
      <%= set_org %><br>
    <% end %>
    <%= @setting.set_name %>
  </div>
  <br>
  <div class="caption">
    ПРИНИМАЕТ РЕШЕНИЕ
  </div>
  <br>
  <ol class="ol-left">
    <div class="paragraph">
      <li>Добровольную сертификацию заявленной продукции провести на соответствие требованиям</li>
    </div>
    <div class="line">
      <b><%= @solution_proposal.solprop_regulations %></b>
    </div>
    <div class="hint">
      наименование и обозначение нормативных документов
    </div>
    <div class="paragraph">
      по схеме <b><%= @proposal.prop_manuf_scheme_cert %></b>, предусматривающей
    </div>
    <div class="line">
      <b><%= @solution_proposal.solprop_desc_scheme_cert %></b>
    </div>
    <div class="hint">
      описание схемы сертификации
    </div>
    <div class="paragraph">
      <li>Проведение анализа состояния производства (сертификации производства или системы качества)
      заявленной продукции схемой сертификации не предусмотрено.</li>
    </div>
    <div class="paragraph">
      <li>Для проведения сертификационных испытаний заявленной продукции определить следующие
      аккредитованные испытательные лаборатории (выбор конкретной испытательной лаборатории осуществляет заявитель):</li>
    </div>
    <div class="line">
      <b><%= @solution_proposal.solprop_test_lab %></b>
    </div>
    <div class="hint">
      для каждой испытательной лаборатории приводят: полное наименование, регистрационный номер, адрес, телефон
    </div>
    <div class="paragraph">
      <li>Отбор образцов заявленной для проведения сертификационных испытаний проводит <%= @solution_proposal.solprop_sampling %>.</li>
    </div>
    <% unless @solution_proposal.solprop_list_doc_product.blank? %>
      <div class="paragraph">
         <li>Заявитель должен предоставить в орган по сертификации следующие документы:</li>
      </div>
      <div class="paragraph">
        <b><%= @solution_proposal.solprop_list_doc_product %></b>
      </div>
    <% end %>
    <div class="paragraph">
      <li>Работы проводят на основе:</li>
    </div>
    <div class="paragraph">
      <b><%= @solution_proposal.solprop_basis_work %></b>
    </div>
    <% unless @solution_proposal.solprop_add_info.blank? %>
      <div class="paragraph">
         <li>Дополнительная информация:</li>
      </div>
      <div class="paragraph">
        <b><%= @solution_proposal.solprop_add_info %></b>
      </div>
    <% end %>
  </ol>
  <div class="div-table">
    <div class="div-table-row">
      <div class="div-table-col col-width-6 col-align-top">
        <%= @solution_proposal.solprop_chief_name %>
      </div>
      <div class="div-table-col col-width-2 col-align-bot">
        <div class="line">
        </div>
        <div class="hint">
          подпись
        </div>
      </div>
      <div class="div-table-col col-width-3 col-align-bot">
        <div class="line">
          <%= @solution_proposal.solprop_chief_org %>
        </div>
        <div class="hint">
          инициалы, фамилия
        </div>
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-6 col-align-top">
        Эксперт
      </div>
      <div class="div-table-col col-width-2 col-align-bot">
        <div class="line">
        </div>
        <div class="hint">
          подпись
        </div>
      </div>
      <div class="div-table-col col-width-3 col-align-bot">
        <div class="line">
          <%= @solution_proposal.solprop_expert %>
        </div>
        <div class="hint">
          инициалы, фамилия
        </div>
      </div>
    </div>
    <% unless @solution_proposal.solprop_executor.blank? %>
      <div class="div-table-row">
        <div class="div-table-col col-width-6 col-align-top">
          Исполнитель
        </div>
        <div class="div-table-col col-width-2 col-align-bot">
          <div class="line">
          </div>
          <div class="hint">
            подпись
          </div>
        </div>
        <div class="div-table-col col-width-3 col-align-bot">
          <div class="line">
            <%= @solution_proposal.solprop_executor %>
          </div>
          <div class="hint">
            инициалы, фамилия
          </div>
        </div>
      </div>
    <% end %>
    <% if @solution_proposal.solprop_applic_sign %>
      <div class="div-table-row">
        <div class="div-table-col col-width-6 col-align-top">
          С решением ознакомлен:
        </div>
        <div class="div-table-col col-width-2 col-align-bot">
          <div class="line">
          </div>
          <div class="hint">
            подпись
          </div>
        </div>
        <div class="div-table-col col-width-3 col-align-bot">
          <div class="line">
            <%= @solution_proposal.solprop_applic_name %>
          </div>
          <div class="hint">
            инициалы, фамилия
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br>
<br>
<div class="paragraph no-print">
  <%= link_to t('link.back'), root_path %> | 
  <%= link_to t('link.edit'), edit_solution_proposal_path %> | 
  <%= link_to t('link.destroy'), solution_proposal_path(@solution_proposal),
      method: :delete,
      data: { confirm: 'Are you sure?' } %>
</div>
