- provide(:title, "#{t('solution_proposals.headers.show')} #{@solution_proposal.number}")
= render partial: 'links', locals: { solution_proposal: @solution_proposal }
.page-body
  = render partial: 'nested_components/settings', locals: { setting: @setting }
  .caption
    РЕШЕНИЕ ПО ЗАЯВКЕ №
    = @solution_proposal.number
    от
    = format_date(@solution_proposal.date_from)
    = @solution_proposal.solution
    сертификации продукции
  %br
  .paragraph
    В результате рассмотрения заявки
    %b № #{@proposal.number}
    от
    %b= format_date(@proposal.date_from)
  .line
    %b #{@proposal.applic_name} #{@proposal.applic_reg_doc}
  .hint
    наименование организации-изготовителя, продавца или индивидуального предпринимателя (далее - заявитель)
  .paragraph
    Юридический адрес:
    %b #{@proposal.applic_address}, #{@proposal.applic_postcode}
  .paragraph
    .row
      .col-md-4
        Телефон:
        %b= @proposal.applic_phone
      .col-md-4
        Факс:
        %b= @proposal.applic_fax
      .col-md-4
        Почта:
        %b= @proposal.applic_email
  .paragraph
    На проведение
    %b добровольной
    сертификации продукции:
  .line
    %b= @solution_proposal.applic_name_product
  .hint
    наименование продукции
  .paragraph
    .row
      .col-md-2
        Код ОКПД2
      .col-md-2.line
        %b= @solution_proposal.applic_code_okp
      .col-md-2
        Код ТН ВЭД
      .col-md-2.line
        %b= @solution_proposal.applic_code_tn_ved
  .line
    %b= @proposal.applic_from_issue
  .hint
    серийный выпуск, или партия определенного размера, или единица продукции
  .paragraph
    выпускаемой изготовителем
  .line
    %b= @solution_proposal.manuf_name
  .hint
    наименование изготовителя
  .line
    %b #{@solution_proposal.manuf_address}, #{@solution_proposal.manuf_postcode}
  .hint
    адрес
  .line
    по
    %b= @solution_proposal.manuf_doc
  .hint
    наименование и обозначение документации изготовителя (стандарт, ТУ, КД, образец-эталон)
  .paragraph
    и представленных заявителем документов:
  .line
    %b= @solution_proposal.manuf_list_doc
  .hint
    перечень представленных заявителем документов, подтверждающих соответствие продукции установленным требованиям
  %br
  .paragraph
    = @setting.os_name
    рег. №
    = @setting.os_registration_num
  %br
  .caption
    ПРИНИМАЕТ РЕШЕНИЕ
  %br
  .paragraph
    1. Добровольную сертификацию заявленной продукции провести на соответствие требованиям
  .line
    %b= @solution_proposal.manuf_regulations
  .hint
    наименование и обозначение нормативных документов
  .paragraph
    по схеме
    %b= @proposal.manuf_scheme_cert
    , предусматривающей
  .line
    %b= @solution_proposal.desc_scheme_cert
  .hint
    описание схемы сертификации
  .paragraph
    2. Проведение анализа состояния производства (сертификации производства или системы качества)
    заявленной продукции схемой сертификации не предусмотрено.
  .paragraph
    3. Для проведения сертификационных испытаний заявленной продукции определить следующие
    аккредитованные испытательные лаборатории (выбор конкретной испытательной лаборатории осуществляет заявитель):
  .line
    %b= @solution_proposal.test_lab
  .hint
    для каждой испытательной лаборатории приводят: полное наименование, регистрационный номер, адрес, телефон
  .paragraph<
    4. Отбор образцов заявленной для проведения сертификационных испытаний проводит
    = @solution_proposal.sampling
    \.
  .paragraph
    5. Заявитель должен предоставить в орган по сертификации следующие документы:
  .paragraph
    %b= @solution_proposal.list_doc_product
  .paragraph
    6. Работы проводят на основе:
  .paragraph
    %b= @solution_proposal.basis_work
  - unless @solution_proposal.add_info.blank?
    .paragraph
      7. Дополнительная информация:
    .paragraph
      %b= @solution_proposal.add_info
  .paragraph.pt-3
    .row
      .col-md-6
        = @solution_proposal.os_chief_position
      .col-md-2
        .line
        .hint
          подпись
      .col-md-3.text-center
        .line
          = @solution_proposal.os_chief_name
        .hint
          инициалы, фамилия
    .row
      .col-md-6
        Эксперт
      .col-md-2
        .line
        .hint
          подпись
      .col-md-3.text-center
        .line
          = @solution_proposal.expert
        .hint
          инициалы, фамилия
    - if @solution_proposal.executor
      .row
        .col-md-6
          Исполнитель
        .col-md-2
          .line
          .hint
            подпись
        .col-md-3.text-center
          .line
            = @solution_proposal.executor
          .hint
            инициалы, фамилия
    - if @solution_proposal.applic_sign
      .row
        .col-md-6
          С решением ознакомлен:
        .col-md-2
          .line
          .hint
            подпись
        .col-md-3.text-center
          .line
            = @solution_proposal.applic_name
          .hint
            инициалы, фамилия
