%ul.sidebar-nav.d-print-none
  %li= link_to t('link.back'), conclusion_path(@conclusion)

- provide(:title, "#{t('conclusions.headers.edit')} #{format_date(@conclusion.conc_sign_date)}")
.page-body
  %h2.text-center.py-3 #{t('conclusions.headers.edit')} #{format_date(@conclusion.conc_sign_date)}
  = render partial: 'form', locals: { conclusion: @conclusion, button: 'edit' }
