.col-md-2.fixed-top.mt-10
  %ul.nav.flex-column
    %li.nav-item= link_to t('link.back'), conclusion_path(@conclusion), class: 'nav-link'

- provide(:title, "#{t('conclusions.headers.edit')} #{format_date(@conclusion.conc_sign_date)}")
.page-body
  %h2.text-center.py-3 #{t('conclusions.headers.edit')} #{format_date(@conclusion.conc_sign_date)}
  = render partial: 'form', locals: { conclusion: @conclusion, button: 'edit' }
