- provide(:title, "#{t('conclusions.headers.show')} #{format_date(@conclusion.sign_date)}")
= render partial: 'links', locals: { conclusion: @conclusion }
.page-body
  = render partial: 'nested_components/settings', locals: { setting: @setting }
  .caption
    ЗАКЛЮЧЕНИЕ ЭКСПЕРТА
    %br по результатам проведения работ
    по сертификации продукции
  %br
  .paragraph
    %b На основании
    следующих документов:
  .paragraph
    %b - заявки
    на проведение сертификации продукции
    %b № #{@proposal.number}
    от
    %b= format_date(@proposal.date_from)
  .line
    %b
      = @proposal.applic_name
      %br
      = @proposal.applic_reg_doc
  .hint
    наименование организации-изготовителя, продавца или индивидуального предпринимателя (далее - заявитель)
  .paragraph
    Юридический адрес:
    %b #{@proposal.applic_address} #{@proposal.applic_postcode}
  .paragraph
    .block-row
      .block-col-4
        Телефон:
        %b= @proposal.applic_phone
      .block-col-4
        Факс:
        %b= @proposal.applic_fax
      .block-col-4
        Почта:
        %b= @proposal.applic_email
  .paragraph
    %b - решения
    органа по сертификации
    %b № #{@conclusion.number}
    от
    %b= format_date(@conclusion.date_from)
  .line
    %b= @conclusion.applic_name_product
  .hint
    наименование продукции
  .paragraph
    .block-row
      .block-col-2
        Код ОКПД2
      .block-col-2.line
        %b= @conclusion.applic_code_okp
      .block-col-2
        Код ТН ВЭД
      .block-col-2.line
        %b= @conclusion.applic_code_tn_ved
  .line
    %b= @proposal.applic_from_issue
  .hint
    серийный выпуск, или партия определенного размера, или единица продукции
  .paragraph
    выпускаемой изготовителем
  .line
    %b= @conclusion.manuf_name
  .hint
    наименование изготовителя
  .line
    %b #{@conclusion.manuf_address}, #{@conclusion.manuf_postcode}
  .hint
    адрес
  .line
    по
    %b= @conclusion.manuf_doc
  .hint
    наименование и обозначение документации изготовителя (стандарт, ТУ, КД, образец-эталон)
  .paragraph
    Сертификация проводилась на соответствие требованиям:
  .line
    %b= @conclusion.manuf_regulations
  .hint
    наименование и обозначение нормативных документов
  .paragraph
    по схеме
    %b #{@proposal.manuf_scheme_cert},
    предусматривающей
  .line
    %b= @conclusion.desc_scheme_cert
  .hint
    описание схемы сертификации
  .paragraph
    В результате анализа документов:
  .line
    %b= @conclusion.test_report
  .hint
    протоколы испытаний, акт анализа состояния производства и др.
  .line
    %b= @conclusion.list_doc_product
  .hint
    перечень представленных заявителем документов, подтверждающих соответствие продукции установленным требованиям
  %br
  .caption
    УСТАНОВЛЕНО
  %br
  .line
    %b= @conclusion.conformity
  .hint
    оценка соответствия продукции установленным требованиям
  %br
  .caption
    ВЫВОДЫ
  %br
  .paragraph
    На заявленную продукцию
    = @conclusion.may_be_issued
    быть выдан сертификат соответствия
    %b сроком по #{format_date(@conclusion.cert_expiry_date)}
  .line
    %b= @conclusion.add_info
  .hint
    дополнительная информация
  .paragraph
    .block-row
      .block-col-4
        Эксперт
      .block-col-2
        .line
        .hint
          подпись
      .block-col-4.text-center
        .line
          %b= @conclusion.expert
        .hint
          инициалы, фамилия
    .block-row
      .block-col-4
      .block-col-2
        %b= format_date(@conclusion.sign_date)
      .block-col-4
