<%= provide(:title, "Заключение эксперта о выдаче сертификата от #{@conclusion.conc_sign_date.strftime("%d.%m.%Y")}") %>
<%= render "links" %>
<div class="page-body">
  <div class="line">
    <%= @setting.set_os_name %><br>
    рег. № <%= @setting.set_os_registration_num %>
  </div>
  <div class="hint">
    наименование органа по сертификации
  </div>
  <div class="line">
    <%= @setting.set_os_address %>
  </div>
  <div class="hint">
    адрес, телефон, факс
  </div>
  <br>
  <div class="caption">
    ЗАКЛЮЧЕНИЕ ЭКСПЕРТА<br>
    по результатам проведения работ<br>
    по сертификации продукции
  </div>
  <br>
  <div class="paragraph">
    <b>На основании</b> следующих документов:
  </div>
  <div class="paragraph">
    <b>- заявки</b> на проведение сертификации продукции <b>№ <%= @proposal.prop_number %></b> от <b><%= @proposal.prop_date_from.strftime("%d.%m.%Y") %></b>
  </div>
  <div class="line">
    <b><%= @proposal.prop_applic_name %><br>
    <%= @proposal.prop_applic_reg_doc %></b>
  </div>
  <div class="hint">
    наименование организации-изготовителя, продавца или индивидуального предпринимателя (далее - заявитель)
  </div>
  <div class="paragraph">
    Юридический адрес: <b><%= "#{@proposal.prop_applic_address}, #{@proposal.prop_applic_postcode}" %></b>
  </div>
  <div class="div-table">
    <div class="div-table-row">
      <div class="div-table-col col-width-4">
        Телефон: <b><%= @proposal.prop_applic_phone %></b>
      </div>
      <div class="div-table-col col-width-4">
        Факс: <b><%= @proposal.prop_applic_fax %></b>
      </div>
      <div class="div-table-col col-width-4">
        Почта: <b><%= @proposal.prop_applic_email %></b>
      </div>
    </div>
  </div>
  <div class="paragraph">
    <b>- решения</b> органа по сертификации <b>№ <%= @conclusion.conc_solution_proposal_num %></b>
    от <b><%= @conclusion.conc_solution_proposal_date.strftime("%d.%m.%Y") %></b>
  </div>
  <div class="line">
    <b><%= @conclusion.conc_name_product %></b>
  </div>
  <div class="hint">
    наименование продукции
  </div>
  <div class="div-table">
    <div class="div-table-row">
      <div class="div-table-col col-width-2">
        Код ОКПД2
      </div>
      <div class="div-table-col-hr col-width-2">
          <b><%= @conclusion.conc_code_okp %></b>
      </div>
      <div class="div-table-col col-width-2">
        Код ТН ВЭД
      </div>
      <div class="div-table-col-hr col-width-2">
          <b><%= @conclusion.conc_code_tn_ved %></b>
      </div>
    </div>
  </div>
  <div class="line">
    <b><%= @proposal.prop_applic_from_issue %></b>
  </div>
  <div class="hint">
    серийный выпуск, или партия определенного размера, или единица продукции
  </div>
  <div class="paragraph">
    выпускаемой изготовителем
  </div>
  <div class="line">
    <b><%= @conclusion.conc_manuf_name %></b>
  </div>
  <div class="hint">
    наименование изготовителя
  </div>
  <div class="line">
    <b><%= "#{@conclusion.conc_manuf_address}, #{@conclusion.conc_manuf_postcode}" %></b>
  </div>
  <div class="hint">
    адрес
  </div>
  <div class="line">
    по <b><%= @conclusion.conc_manuf_doc %></b>
  </div>
  <div class="hint">
    наименование и обозначение документации изготовителя (стандарт, ТУ, КД, образец-эталон)
  </div>
  <div class="paragraph">
    Сертификация проводилась на соответствие требованиям:
  </div>
  <div class="line">
    <b><%= @conclusion.conc_manuf_regulations %></b>
  </div>
  <div class="hint">
    наименование и обозначение нормативных документов
  </div>
  <div class="paragraph">
    по схеме <b><%= @proposal.prop_manuf_scheme_cert %></b>, предусматривающей
  </div>
  <div class="line">
    <b><%= @conclusion.conc_desc_scheme_cert %></b>
  </div>
  <div class="hint">
    описание схемы сертификации
  </div>
  <div class="paragraph">
    В результате анализа документов:
  </div>
  <div class="line">
    <b><%= @conclusion.conc_test_report %></b>
  </div>
  <div class="hint">
    протоколы испытаний, акт анализа состояния производства и др.
  </div>
  <div class="line">
    <b><%= @conclusion.conc_list_doc %></b>
  </div>
  <div class="hint">
    перечень представленных заявителем документов, подтверждающих соответствие продукции установленным требованиям
  </div>
  <br>
  <div class="caption">
    УСТАНОВЛЕНО
  </div>
  <br>
  <div class="line">
    <b><%= @conclusion.conc_conformity %></b>
  </div>
  <div class="hint">
    оценка соответствия продукции установленным требованиям
  </div>
  <br>
  <div class="caption">
    ВЫВОДЫ
  </div>
  <br>
  <div class="paragraph">
    На заявленную продукцию <%= @conclusion.conc_may_be_issued %> быть выдан сертификат соответствия <b>сроком по
    <%= @conclusion.conc_cert_expiry_date.strftime("%d.%m.%Y") %></b>
  </div>
  <div class="line">
    <b><%= @conclusion.conc_add_info %></b>
  </div>
  <div class="hint">
    дополнительная информация
  </div>
  <div class="div-table">
    <div class="div-table-row">
      <div class="div-table-col col-width-4 col-align-top">
        Эксперт
      </div>
      <div class="div-table-col col-width-1 col-align-bot">
        <div class="line">
        </div>
        <div class="hint">
          подпись
        </div>
      </div>
      <div class="div-table-col col-width-3 col-align-bot">
        <div class="line">
          <b><%= @conclusion.conc_expert %></b>
        </div>
        <div class="hint">
          инициалы, фамилия
        </div>
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-4 col-align-top">
      </div>
      <div class="div-table-col col-width-2 col-align-bot">
        <b><%= @conclusion.conc_sign_date.strftime("%d.%m.%Y") %></b>
      </div>
      <div class="div-table-col col-width-4 col-align-top">
      </div>
    </div>
  </div>
</div>
