<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <% if @attachment.errors.any? %>
      <div class="error text-danger">
        <p>
          <%= pluralize(@attachment.errors.count, "error") %> prohibited
          this attachment from being saved:
        </p>
        <ul>
          <% @attachment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= simple_form_for @attachment, html: { class: "form-horizontal" }, wrapper: :horizontal_form do |f| %>
      <%= f.input :certificate_id, as: :hidden %>
      <%= f.input :att_blank_num %>
      <%= f.input :att_code_okp %>
      <%= f.input :att_code_tn_ved %>
      <%= f.input :att_name_product, as: :text, input_html: { rows: 6 } %>
      <%= f.input :att_manuf_name, as: :text, input_html: { rows: 4 } %>
      <%= f.input :att_regulations %>

      <%= f.button :submit, "Сохранить опись документов", class: 'btn btn-primary center-block' %>
    <% end %>
  </div>
</div>
