- provide(:title, "#{t('attachments.headers.show')} #{@attachment.certificate.cert_registration_num}")
= render partial: 'links', locals: { attachment: @attachment }
.page-body
  .caption
    СИСТЕМА СЕРТИФИКАЦИИ ГОСТ Р
    %br
    ГОССТАНДАРТ РОССИИ
  .paragraph.text-right.text-danger
    %b
      №
      = @attachment.att_blank_num
  .caption
    ПРИЛОЖЕНИЕ
  %br
  .row
    .col-md-2
    .col-md-4
      К сертификату соответствия №
    .col-md-4
      .line
        %b= @attachment.certificate.cert_registration_num
    .col-md-2
  %br
  .paragraph.text-center
    %b Перечень конкретной продукции, на которую распространяется действие сертификата соответствия
  %br
  .row.border.border-dark
    .col-md-3.border-right.border-dark
      %b Код ОКПД2
      %br
      %b Код ТН ВЭД
    .col-md-5.border-right.border-dark
      %b Наименование и обозначение продукции, изготовитель
    .col-md-4
      %b Обозначение документации, по которой выпускается продукция
  .row.border.border-top-0.border-dark
    .col-md-3.border-right.border-dark
      = @attachment.att_code_okp
      %br
      = @attachment.att_code_tn_ved
    .col-md-5.border-right.border-dark
      - @attachment.att_name_product.split("\r\n").each do |att_name_product|
        = att_name_product
        %br
      %br
      %br
      ИЗГОТОВИТЕЛЬ:
      = @attachment.att_manuf_name
    .col-md-4
      = @attachment.att_regulations
  %br
  .paragraph
    .row
      .col-md-6
        Руководитель органа
      .col-md-2
        .line
        .hint
          подпись
      .col-md-4.text-center
        .line
          %b= @attachment.certificate.cert_chief_org
        .hint
          инициалы, фамилия
    .row
      .col-md-6
        Эксперт
      .col-md-2
        .line
        .hint
          подпись
      .col-md-4.text-center
        .line
          %b= @attachment.certificate.cert_expert
        .hint
          инициалы, фамилия
