%ul.sidebar-nav.d-print-none
  %li= link_to t('link.new_proposal'), new_proposal_path
= provide :title, t('welcome.headers.index')
.col.col-md-10.offset-md-2
  = render 'shared/search'
  .tree-links
    %ul
      %li
        - if @setting
          = link_to @setting.name, setting_path(@setting), class: 'text-secondary'
        - else
          = link_to t('welcome.links.new_setting'), new_setting_path, class: 'text-secondary'
      - @proposals.each do |proposal|
        %hr.hr-light
        %ul
          = link_to proposal_path(proposal), class: 'text-secondary' do
            .row
              .col-md-2
                %li= format_date(proposal.date_from)
              .col-md-2
                %b= proposal.number
              .col-md-7
                = proposal.applic_name
          - if (solution_proposal = proposal.solution_proposal)
            %ul
              %li
                = link_to solution_proposal_path(solution_proposal), class: 'text-secondary' do
                  1.3 Решение по заявке о проведении сертификации от
                  = format_date(solution_proposal.date_from)
                  №
                  = solution_proposal.number
              - if (protocols = solution_proposal.protocols)
                %ul
                  - protocols.each do |protocol|
                    %li
                      = link_to "2.2.1 Протокол идентификации от #{protocol.prot_date_from.strftime('%d.%m.%Y')}",
                                protocol_path(protocol),
                                class: 'text-secondary'
              - if (conclusion = solution_proposal.conclusion)
                %ul
                  %li
                    = link_to conclusion_path(conclusion), class: 'text-secondary' do
                      3.1 Заключение эксперта о выдаче сертификата от
                      = format_date(conclusion.conc_sign_date)
                  - if (solution = conclusion.solution)
                    %ul
                      %li
                        = link_to solution_path(solution), class: 'text-secondary' do
                          3.2 Решение о выдаче сертификата от
                          = format_date(solution.sol_date_from)
                          №
                          = solution.sol_number
                      - if (certificates = solution.certificates)
                        %ul
                          - certificates.each do |certificate|
                            %li
                              = link_to certificate_path(certificate), class: 'text-secondary' do
                                4.1 Сертификат соответствия от
                                = format_date(certificate.cert_registration_date)
                                №
                                = certificate.cert_registration_num
                            - if (attachments = certificate.attachments)
                              %ul
                                - attachments.each do |attachment|
                                  %li
                                    = link_to attachment_path(attachment), class: 'text-secondary' do
                                      4.2 Приложение к сертификату
                                      = certificate.cert_registration_num
                                      бланк №
                                      = attachment.att_blank_num
                            - if (permission = certificate.permission)
                              %ul
                                %li
                                  = link_to permission_path(permission), class: 'text-secondary' do
                                    4.3 Разрешение на применение знака соответствия от
                                    = format_date(permission.perm_registration_date)
                                    №
                                    = permission.perm_registration_num
                            - if (ikcontract = certificate.ikcontract)
                              %ul
                                %li
                                  = link_to ikcontract_path(ikcontract), class: 'text-secondary' do
                                    5.1 Договор на инспекционный контроль от
                                    = format_date(ikcontract.ikcon_registration_date)
                                    №
                                    = ikcontract.ikcon_registration_num
          - if (certcontract = proposal.certcontract)
            %ul
              %li
                = link_to certcontract_path(certcontract), class: 'text-secondary' do
                  1.5 Договор на проведение работ по сертификации от
                  = format_date(certcontract.registration_date)
                  №
                  = certcontract.registration_num
          - if (inventory = proposal.inventory)
            %ul
              %li
                = link_to "1.9 Опись документов от #{format_date(inventory.inv_date_from)}",
                          inventory_path(inventory), class: 'text-secondary'
    .text-center
      = paginate @proposals
