<% provide(:title, "Главная") %>
<%= link_to t('link.new_proposal'), new_proposal_path %>
<h1>Главная</h1>
<ul>
  <li>
    <%= @setting.nil? ? (link_to "Необходимо создать документ Настроек", new_setting_path) :
                        (link_to @setting.set_name, setting_path(@setting)) %>
  </li>
  <% @proposals.each do |proposal| %>
    <ul>
      <li>
        <%= link_to "#{proposal.prop_date_from.strftime("%d.%m.%Y")} #{proposal.prop_number} #{proposal.prop_applic_name}", proposal_path(proposal) %>
      </li>
      <% if solution_proposal = proposal.solution_proposal %>
        <ul>
          <li>
            <%= link_to "1.3 Решение по заявке о проведении сертификации от 
                        #{solution_proposal.solprop_date_from.strftime("%d.%m.%Y")} № 
                        #{solution_proposal.solprop_number}",
                        solution_proposal_path(solution_proposal, proposal_id: solution_proposal.proposal_id) %>
          </li>
          <% if protocol = solution_proposal.protocol %>
            <ul>
              <li>
                <%= link_to "2.2.1 Протокол идентификации от #{protocol.prot_date_from.strftime("%d.%m.%Y")}",
                            protocol_path(protocol, solution_proposal_id: protocol.solution_proposal_id)%>
              </li>
            </ul>
          <% end %>
          <% if conclusion = solution_proposal.conclusion %>
            <ul>
              <li>
                <%= link_to "3.1 Заключение эксперта о выдаче сертификата от #{conclusion.conc_sign_date.strftime("%d.%m.%Y")}",
                            conclusion_path(conclusion, solution_proposal_id: conclusion.solution_proposal_id)%>
              </li>
              <% if solution = conclusion.solution %>
                <ul>
                  <li>
                    <%= link_to "3.2 Решение о выдаче сертификата от #{solution.sol_date_from.strftime("%d.%m.%Y")} № #{solution.sol_number}",
                                solution_path(solution, conclusion_id: solution.conclusion_id)%>
                  </li>
                  <% if certificate = solution.certificate %>
                    <ul>
                      <li>
                        <%= link_to "4.1 Сертификат соответствия от #{certificate.cert_registration_date.strftime("%d.%m.%Y")}
                                     № #{certificate.cert_registration_num}",
                                    certificate_path(certificate, solution_id: certificate.solution_id)%>
                      </li>
                    </ul>
                  <% end %>
                </ul>
              <% end %>
            </ul>
          <% end %>
        </ul>
      <% end %>
    </ul>
  <% end %>
</ul>
<br>
<br>
<br>
<%= link_to t('link.new_proposal'), new_proposal_path %>
