<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% if @setting.errors.any? %>
      <div class="error text-danger">
        <p>
          <%= pluralize(@setting.errors.count, "error") %> prohibited
          this certificate from being saved:
        </p>
        <ul>
          <% @setting.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= simple_form_for @setting do |f| %>
      <%= f.input :set_name %>
      <%= f.input :set_organization, as: :text, input_html: { rows: 6 } %>
      <%= f.input :set_at_x %>
      <%= f.input :set_at_y %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
