<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% if @setting.errors.any? %>
      <div class="error text-danger">
        <p>
          <%= pluralize(@setting.errors.count, "error") %> prohibited
          this certificate from being saved:
        </p>
        <ul>
          <% @setting.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form_with model: @setting, local: true do |f| %>
      <%= f.label :set_name %><br>
      <%= f.text_field :set_name, class: "form-control" %>

      <%= f.label :set_organization %><br>
      <%= f.text_area :set_organization, rows: 5, class: "form-control" %>

      <%= f.label :set_indent_down %><br>
      <%= f.text_field :set_indent_down, class: "form-control" %>
      <p>
        <%= f.submit class: "btn btn-primary" %>
      </p>
    <% end %>
  </div>
</div>
