<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <% if @setting.errors.any? %>
      <div class="error text-danger">
        <p>
          <%= pluralize(@setting.errors.count, "error") %> prohibited
          this certificate from being saved:
        </p>
        <ul>
          <% @setting.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= simple_form_for @setting, html: { class: "form-horizontal" }, wrapper: :horizontal_form do |f| %>
      <%= f.input :set_name %>
      <%= f.input :set_organization, as: :text, input_html: { rows: 6 } %>
      <%= f.input :set_address, as: :text, input_html: { rows: 4 } %>
      <hr class="col-sm-12">
      <h2>Параметры печати</h2>
      <%= f.input :set_at_x %>
      <%= f.input :set_at_y %>
      <hr class="col-sm-12">
      <%= f.button :submit, "Сохранить настройки", class: 'btn btn-primary center-block'%>
    <% end %>
  </div>
</div>
