<% provide(:title, "Settings") %>
<h1>Settings</h1>
<br>
<div class="table-responsive">
  <table class="table">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Organization</th>
      <th>Indent down</th>
      <th>#</th>
      <th>#</th>
      <th>#</th>
    </tr>

    <% @settings.each do |setting| %>
      <tr>
        <td><%= setting.id %></td>
        <td><%= setting.set_name %></td>
        <td><%= setting.set_organization %></td>
        <td><%= setting.set_indent_down %></td>
        <td><%= link_to 'Show', setting_path(setting) %></td>
        <td><%= link_to 'Edit', edit_setting_path(setting) %></td>
        <td><%= link_to 'Destroy', setting_path(setting),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  </table>

  <%= link_to 'Home', root_path %>
  <% unless @settings.first %>
    |
  <%= link_to 'New Setting', new_setting_path %>
  <% end %>

</div>
