<% provide(:title, "Настройки") %>
<h1>Настройки</h1>
<br>
<div class="table-responsive">
  <table class="table">
    <tr>
      <th>#</th>
      <th>Name Setting</th>
      <th>#</th>
      <th>#</th>
      <th>#</th>
    </tr>

    <% @settings.each do |setting| %>
      <tr>
        <td><%= setting.id %></td>
        <td><%= setting.set_name %></td>
        <td><%= link_to t('link.show'), setting_path(setting) %></td>
        <td><%= link_to t('link.edit'), edit_setting_path(setting) %></td>
        <td><%= link_to t('link.destroy'), setting_path(setting),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  </table>

  <%= link_to t('link.new'), new_setting_path unless Setting.first %>

</div>
