<% provide(:title, "Настройка #{@setting.set_name}") %>
<h1>Настройка <%= @setting.set_name %></h1>
<br>

<div class="table-responsive">
  <table class="table">
    <tr>
      <th>#</th>
      <th>Имя</th>
      <th>#</th>
    </tr>
    <tr>
      <td><%= @setting.id %></td>
      <td><%= @setting.set_name %></td>
      <td><%= link_to t('link.edit'), edit_setting_path(@setting) %></td>
    </tr>
  </table>
</div>

<%= link_to t('link.back'), settings_path %>
