- provide(:title, "Настройка #{@setting.set_name}")
= render partial: 'links', locals: { setting: @setting }
%h1
  Настройка
  = @setting.set_name
%br.no-print
%br.no-print
.page-body
  %hr.col-width-12
  = render partial: 'information_org_cert', locals: { setting: @setting }
  %hr.col-width-12
  = render partial: 'base_org_cert', locals: { setting: @setting }
  %hr.col-width-12
  %h2 Параметры печати сертификата
  .div-table
    .div-table-row
      .div-table-col.col-width-4.hr-light
        Смещение по оси X
      .div-table-col.col-width-8.hr-light
        = @setting.set_at_x
    .div-table-row
      .div-table-col.col-width-4.hr-light
        Смещение по оси Y
      .div-table-col.col-width-8.hr-light
        = @setting.set_at_y
