<% provide(:title, "Настройка #{@setting.set_name}") %>
<%= render "links" %>
<h1>Настройка <%= @setting.set_name %></h1>
<br class="no-print">
<br class="no-print">
<div class="page-body">
  <hr class="col-width-12">
  <h2>Сведения об аккредитации органа по сертификации</h2>
  <div class="div-table">
    <div class="div-table-row">
      <div class="div-table-col col-width-4 hr-light">
        Регистрационный номер
      </div>
      <div class="div-table-col col-width-8 hr-light">
        <%= @setting.set_os_registration_num %>
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-4 hr-light">
        Дата регистрации
      </div>
      <div class="div-table-col col-width-8 hr-light">
        <%= @setting.set_os_registration_date.strftime("%d.%m.%Y") %>
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-4 hr-light">
        Наименование
      </div>
      <div class="div-table-col col-width-8 hr-light">
        <%= @setting.set_os_name %>
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-4 hr-light">
        Адрес: Название улицы, номер дома, номер помещения; название населенного пункта (города, поселка и т.п.);
        название района; название республики, края, области, автономного округа (области);
        страна (для зарубежных ОС); почтовый индекс
      </div>
      <div class="div-table-col col-width-8 hr-light">
        <%= @setting.set_os_address %>
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-4 hr-light">
        Город
      </div>
      <div class="div-table-col col-width-8 hr-light">
        <%= @setting.set_os_city %>
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-4 hr-light">
        Должность руководителя ОС
      </div>
      <div class="div-table-col col-width-8 hr-light">
        <%= @setting.set_os_chief_position %>
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-4 hr-light">
        Инициалы, фамилия руководителя
      </div>
      <div class="div-table-col col-width-8 hr-light">
        <%= @setting.set_os_chief_name %>
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-4 hr-light">
        Действует на основании документа
      </div>
      <div class="div-table-col col-width-8 hr-light">
        <%= @setting.set_os_based_doc %>
      </div>
    </div>
  </div>
  <hr class="col-width-12">
  <h2>Организация, на базе которой создан орган по сертификации</h2>
  <div class="div-table">
    <div class="div-table-row">
      <div class="div-table-col col-width-4 hr-light">
        Наименование
      </div>
      <div class="div-table-col col-width-8 hr-light">
        <%= @setting.set_org_name %>
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-4 hr-light">
        Адрес: Название улицы, номер дома, номер помещения; название населенного пункта (города, поселка и т.п.);
        название района; название республики, края, области, автономного округа (области);
        страна (для зарубежных ОС); почтовый индекс
      </div>
      <div class="div-table-col col-width-8 hr-light">
        <%= @setting.set_org_address %>
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-4 hr-light">
        Телефон
      </div>
      <div class="div-table-col col-width-8 hr-light">
        <%= @setting.set_org_phone %>
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-4 hr-light">
        Должность руководителя ОС
      </div>
      <div class="div-table-col col-width-8 hr-light">
        <%= @setting.set_org_chief_position %>
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-4 hr-light">
        Инициалы, фамилия руководителя
      </div>
      <div class="div-table-col col-width-8 hr-light">
        <%= @setting.set_org_chief_name %>
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-4 hr-light">
        Действует на основании документа
      </div>
      <div class="div-table-col col-width-8 hr-light">
        <%= @setting.set_org_based_doc %>
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-4 hr-light">
        Главный бухгалтер
      </div>
      <div class="div-table-col col-width-8 hr-light">
        <%= @setting.set_org_chief_accountant %>
      </div>
    </div>
  </div>
  <hr class="col-width-12">
  <h2>Параметры печати сертификата</h2>
  <div class="div-table">
    <div class="div-table-row">
      <div class="div-table-col col-width-4 hr-light">
        Смещение по оси X
      </div>
      <div class="div-table-col col-width-8 hr-light">
        <%= @setting.set_at_x %>
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-4 hr-light">
        Смещение по оси Y
      </div>
      <div class="div-table-col col-width-8 hr-light">
        <%= @setting.set_at_y %>
      </div>
    </div>
  </div>
</div>
