- provide(:title, "Настройка #{@setting.set_name}")
= render partial: 'links', locals: { setting: @setting }
%h1
  Настройка
  = @setting.set_name
%br.no-print
%br.no-print
.page-body
  %hr.col-width-12
  %h2 Сведения об аккредитации органа по сертификации
  .div-table
    .div-table-row
      .div-table-col.col-width-4.hr-light
        Регистрационный номер
      .div-table-col.col-width-8.hr-light
        = @setting.set_os_registration_num
    .div-table-row
      .div-table-col.col-width-4.hr-light
        Дата регистрации
      .div-table-col.col-width-8.hr-light
        = @setting.set_os_registration_date.strftime('%d.%m.%Y')
    .div-table-row
      .div-table-col.col-width-4.hr-light
        Наименование
      .div-table-col.col-width-8.hr-light
        = @setting.set_os_name
    .div-table-row
      .div-table-col.col-width-4.hr-light
        Адрес: Название улицы, номер дома, номер помещения; название населенного пункта (города, поселка и т.п.);
        название района; название республики, края, области, автономного округа (области);
        страна (для зарубежных ОС); почтовый индекс
      .div-table-col.col-width-8.hr-light
        = @setting.set_os_address
    .div-table-row
      .div-table-col.col-width-4.hr-light
        Город
      .div-table-col.col-width-8.hr-light
        = @setting.set_os_city
    .div-table-row
      .div-table-col.col-width-4.hr-light
        Должность руководителя ОС
      .div-table-col.col-width-8.hr-light
        = @setting.set_os_chief_position
    .div-table-row
      .div-table-col.col-width-4.hr-light
        Инициалы, фамилия руководителя
      .div-table-col.col-width-8.hr-light
        = @setting.set_os_chief_name
    .div-table-row
      .div-table-col.col-width-4.hr-light
        Действует на основании документа
      .div-table-col.col-width-8.hr-light
        = @setting.set_os_based_doc
  %hr.col-width-12
  %h2 Организация, на базе которой создан орган по сертификации
  .div-table
    .div-table-row
      .div-table-col.col-width-4.hr-light
        Наименование
      .div-table-col.col-width-8.hr-light
        = @setting.set_org_name
    .div-table-row
      .div-table-col.col-width-4.hr-light
        Адрес: Название улицы, номер дома, номер помещения; название населенного пункта (города, поселка и т.п.);
        название района; название республики, края, области, автономного округа (области);
        страна (для зарубежных ОС); почтовый индекс
      .div-table-col.col-width-8.hr-light
        = @setting.set_org_address
    .div-table-row
      .div-table-col.col-width-4.hr-light
        Телефон
      .div-table-col.col-width-8.hr-light
        = @setting.set_org_phone
    .div-table-row
      .div-table-col.col-width-4.hr-light
        Должность руководителя ОС
      .div-table-col.col-width-8.hr-light
        = @setting.set_org_chief_position
    .div-table-row
      .div-table-col.col-width-4.hr-light
        Инициалы, фамилия руководителя
      .div-table-col.col-width-8.hr-light
        = @setting.set_org_chief_name
    .div-table-row
      .div-table-col.col-width-4.hr-light
        Действует на основании документа
      .div-table-col.col-width-8.hr-light
        = @setting.set_org_based_doc
    .div-table-row
      .div-table-col.col-width-4.hr-light
        Главный бухгалтер
      .div-table-col.col-width-8.hr-light
        = @setting.set_org_chief_accountant
  %hr.col-width-12
  %h2 Параметры печати сертификата
  .div-table
    .div-table-row
      .div-table-col.col-width-4.hr-light
        Смещение по оси X
      .div-table-col.col-width-8.hr-light
        = @setting.set_at_x
    .div-table-row
      .div-table-col.col-width-4.hr-light
        Смещение по оси Y
      .div-table-col.col-width-8.hr-light
        = @setting.set_at_y
