- provide(:title, "Настройка #{@setting.set_name}")
= render partial: 'links', locals: { setting: @setting }
%h1
  Настройка
  = @setting.set_name
%br.no-print
.page-body
  .py-3
    %h2 Сведения об аккредитации органа по сертификации
  .row
    .col.col-md-4.border-bottom
      Регистрационный номер
    .col.col-md-8.border-bottom
      = @setting.set_os_registration_num
  .row
    .col.col-md-4.border-bottom
      Дата регистрации
    .col.col-md-8.border-bottom
      = @setting.set_os_registration_date.strftime('%d.%m.%Y')
  .row
    .col.col-md-4.border-bottom
      Наименование
    .col.col-md-8.border-bottom
      = @setting.set_os_name
  .row
    .col.col-md-4.border-bottom
      Адрес: Название улицы, номер дома, номер помещения; название населенного пункта (города, поселка и т.п.);
      название района; название республики, края, области, автономного округа (области);
      страна (для зарубежных ОС); почтовый индекс
    .col.col-md-8.border-bottom
      = @setting.set_os_address
  .row
    .col.col-md-4.border-bottom
      Город
    .col.col-md-8.border-bottom
      = @setting.set_os_city
  .row
    .col.col-md-4.border-bottom
      Должность руководителя ОС
    .col.col-md-8.border-bottom
      = @setting.set_os_chief_position
  .row
    .col.col-md-4.border-bottom
      Инициалы, фамилия руководителя
    .col.col-md-8.border-bottom
      = @setting.set_os_chief_name
  .row
    .col.col-md-4.border-bottom
      Действует на основании документа
    .col.col-md-8.border-bottom
      = @setting.set_os_based_doc
  .py-3
    %h2 Организация, на базе которой создан орган по сертификации
  .row
    .col.col-md-4.border-bottom
      Наименование
    .col.col-md-8.border-bottom
      = @setting.set_org_name
  .row
    .col.col-md-4.border-bottom
      Адрес: Название улицы, номер дома, номер помещения; название населенного пункта (города, поселка и т.п.);
      название района; название республики, края, области, автономного округа (области);
      страна (для зарубежных ОС); почтовый индекс
    .col.col-md-8.border-bottom
      = @setting.set_org_address
  .row
    .col.col-md-4.border-bottom
      Телефон
    .col.col-md-8.border-bottom
      = @setting.set_org_phone
  .row
    .col.col-md-4.border-bottom
      Должность руководителя ОС
    .col.col-md-8.border-bottom
      = @setting.set_org_chief_position
  .row
    .col.col-md-4.border-bottom
      Инициалы, фамилия руководителя
    .col.col-md-8.border-bottom
      = @setting.set_org_chief_name
  .row
    .col.col-md-4.border-bottom
      Действует на основании документа
    .col.col-md-8.border-bottom
      = @setting.set_org_based_doc
  .row
    .col.col-md-4.border-bottom
      Главный бухгалтер
    .col.col-md-8.border-bottom
      = @setting.set_org_chief_accountant
  .py-3
    %h2 Параметры печати сертификата
  .row
    .col.col-md-4.border-bottom
      Смещение по оси X
    .col.col-md-8.border-bottom
      = @setting.set_at_x
  .row
    .col.col-md-4.border-bottom
      Смещение по оси Y
    .col.col-md-8.border-bottom
      = @setting.set_at_y
