<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <% if @permission.errors.any? %>
      <div class="error text-danger">
        <p>
          <%= pluralize(@permission.errors.count, "error") %> prohibited
          this permission from being saved:
        </p>
        <ul>
          <% @permission.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= simple_form_for @permission, html: { class: "form-horizontal" }, wrapper: :horizontal_form do |f| %>
      <%= f.input :certificate_id, as: :hidden %>
      <%= f.input :perm_registration_num %>
      <div class="form-group">
        <%= f.label :perm_registration_date, class: 'col-sm-4 control-label' %>
        <div class="col-sm-8">
          <%= f.input_field :perm_registration_date, as: :date, start_year: Date.today.year - 10,
                                                         end_year: Date.today.year + 10 %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :perm_expiry_date, class: 'col-sm-4 control-label' %>
        <div class="col-sm-8">
          <%= f.input_field :perm_expiry_date, as: :date, start_year: Date.today.year - 10,
                                                         end_year: Date.today.year + 10 %>
        </div>
      </div>
      <%= f.input :perm_place_marking %>
      <%= f.input :perm_chief_name %>
      <%= f.input :perm_chief_org %>

      <%= f.button :submit, "Сохранить разрешение на применение знака соответствия", class: 'btn btn-primary center-block' %>
    <% end %>
  </div>
</div>
