- provide :title do
  = t('permissions.headers.edit')
  = format_date(@permission.perm_registration_date)
  №
  = @permission.perm_registration_num
= render partial: 'links', locals: { permission: @permission }
.page-body
  .caption
    Разрешение на применение знака соответствия
    %br
    Системы сертификации ГОСТ Р
    %br
    при добровольной сертификации продукции (работ, услуг)
    %br
    %br
    РАЗРЕШЕНИЕ
  %br
  %br
  .paragraph
    Регистрационный номер
    %b= @permission.perm_registration_num
    от
    %b= format_date(@permission.perm_registration_date)
  %br
  .paragraph
    %b= @setting.os_name
    %br
    рег. №
    %b= @setting.os_registration_num
  %br
  .paragraph
    %b
      разрешает применение знака соответствия системы сертификации ГОСТ Р при
      добровольной сертификации продукции (работ, услуг)
  %br
  .paragraph
    Разрешение выдано
  .line
    %b
      = @proposal.applic_name
      = @proposal.applic_reg_doc
  .hint
    указывается наименование организации
  %br
  .paragraph
    Юридический адрес
  .line
    %b= "#{@proposal.applic_address}, #{@proposal.applic_postcode}"
  .paragraph
    .block-row
      .block-col-4
        Телефон:
        %b= @proposal.applic_phone
      .block-col-4
        Факс:
        %b= @proposal.applic_fax
      .block-col-4
        Почта:
        %b= @proposal.applic_email
  %br
  .paragraph
    на основании сертификата соответствия рег. номер
    %b= @certificate.cert_registration_num
  .paragraph
    срок действия сертификата с
    %b= format_date(@certificate.cert_registration_date)
    по
    %b= format_date(@certificate.cert_expiry_date)
  .paragraph
    срок действия разрешения до
    %b= format_date(@permission.perm_expiry_date)
  %br
  .paragraph
    Условия применения знака соответствия
  .line
    %b= @permission.perm_place_marking
  .hint
    место нанесения знака, прочие условия
  %br
  .paragraph
    .block-row
      .block-col-6
        Руководитель органа по сертификации
      .block-col-6.text-center
        .line
          %b= @permission.perm_chief_name
        .hint
          должность
    .block-row
      .block-col-2
        М.П.
      .block-col-1
      .block-col-2
        .line
        .hint
          подпись
      .block-col-1
      .block-col-6.text-center
        .line
          %b= @permission.perm_chief_org
        .hint
          инициалы, фамилия
