= simple_form_for proposal do |f|
  .row
    .col-md-6
      = f.input :number
    .col-md-6
      = f.input :date_from,
                as: :date, start_year: Date.today.year - 10,
                end_year: Date.today.year + 10,
                html5: true
  = f.input :cert_system
  %h2.py-3 Заявитель
  = f.input :applic_name, as: :text, input_html: { rows: 2 }
  = f.input :applic_reg_doc, as: :text, input_html: { rows: 2 }
  = f.input :applic_address, as: :text, input_html: { rows: 3 }
  = f.input :applic_bank_detail, as: :text, input_html: { rows: 1 }
  .row
    .col-md-3
      = f.input :applic_postcode
    .col-md-3
      = f.input :applic_phone
    .col-md-3
      = f.input :applic_fax
    .col-md-3
      = f.input :applic_email
  %h2.py-3 Поисковые реквизиты заявителя
  .row
    .col-md-3
      = f.input :applic_code_okato
    .col-md-3
      = f.input :applic_code_okonh
    .col-md-3
      = f.input :applic_code_okved
    .col-md-3
      = f.input :applic_code_okpo
  .row
    .col-md-4
      = f.input :applic_type_own, collection: TYPE_OWNERSHIP, include_blank: false
    .col-md-4
      = f.input :applic_inn
    .col-md-4
      = f.input :applic_kpp
  = f.input :applic_chief
  = f.input :applic_name_product, as: :text, input_html: { rows: 7 }
  .row
    .col-md-6
      = f.input :applic_code_okp, as: :text, input_html: { rows: 2 }
    .col-md-6
      = f.input :applic_code_tn_ved, as: :text, input_html: { rows: 2 }
  = f.input :applic_from_issue, collection: TYPE_PRODUCTION, include_blank: false
  %h2.py-3 Изготовитель
  = f.input :manuf_name, as: :text, input_html: { rows: 2 }
  = f.input :manuf_address, as: :text, input_html: { rows: 2 }
  = f.input :manuf_postcode
  = f.input :manuf_doc, as: :text, input_html: { rows: 3 }
  %h2.py-3 Поисковые реквизиты изготовителя
  .row
    .col-md-3
      = f.input :manuf_code_okato
    .col-md-3
      = f.input :manuf_code_okonh
    .col-md-3
      = f.input :manuf_code_okved
    .col-md-3
      = f.input :manuf_code_okpo
  .row
    .col-md-6
      = f.input :manuf_type_own, collection: TYPE_OWNERSHIP, include_blank: false
    .col-md-6
      = f.input :manuf_inn
  = f.input :manuf_regulations, as: :text, input_html: { rows: 2 }
  %h2.py-3 Дополнительные сведения о продукции и заявителе
  .row
    .col-md-6
      = f.input :manuf_scheme_cert, collection: CERTIFICATION_SCHEME, include_blank: false
    .col-md-6
      = f.input :manuf_group_complexity, collection: COMPLIXITY_GROUP, include_blank: false
  = f.input :manuf_count_sort_cert
  = f.input :manuf_list_doc, as: :text, input_html: { rows: 3 }
  = f.input :manuf_add_info, as: :text, input_html: { rows: 3 }
  .row
    .col-md-6
      = f.input :manuf_chief_org
    .col-md-6
      = f.input :manuf_chief_accountant
  .col.pt-5
    = f.submit t("proposals.buttons.#{button}"), class: 'btn btn-dark btn-block'
