.col-md-2.fixed-top.mt-10
  %ul.nav.flex-column
    %li.nav-item= link_to t('link.back'), proposal_path(@proposal), class: 'nav-link'

- provide(:title, "#{t('proposals.headers.edit')} #{@proposal.prop_number}")
.page-body
  %h2.text-center.py-3 #{t('proposals.headers.edit')} #{@proposal.prop_number}
  = render partial: 'form', locals: { proposal: @proposal, button: 'edit' }
