- provide(:title, "#{t('proposals.headers.show')} № #{@proposal.number}")
= render partial: 'links', locals: { proposal: @proposal }
.page-body
  = render partial: 'nested_components/settings', locals: { setting: @setting }
  .caption.py-3
    ЗАЯВКА №
    = @proposal.number
    от
    = format_date(@proposal.date_from)
    на проведение сертификации продукции в системе сертификации
    = @proposal.cert_system
  %br
  .line
    %b= @proposal.applic_name
  .hint
    наименование организации-изготовителя, продавца или индивидуального предпринимателя (далее - заявитель)
  .line
    %b= @proposal.applic_reg_doc
  .hint
    код по ОКПО или номер регистрационного документа индивидуального предпринимателя
  .paragraph
    Юридический адрес:
    %b #{@proposal.applic_address}, #{@proposal.applic_postcode}
  .paragraph
    Банковские реквизиты:
    %b= @proposal.applic_bank_detail
  .paragraph
    .block-row.px-10
      .block-col-4
        Телефон:
        %b= @proposal.applic_phone
      .block-col-4
        Факс:
        %b= @proposal.applic_fax
      .block-col-4
        Почта:
        %b= @proposal.applic_email
  %h2.py-3.no-print Поисковые реквизиты заявителя
  .paragraph
    .block-row.no-print
      .block-col-4.line-light
        код по ОКАТО
      .block-col-8.line-light
        = @proposal.applic_code_okato
    .block-row.no-print
      .block-col-4.line-light
        Форма собственности
      .block-col-8.line-light
        = @proposal.applic_type_own
    .block-row.no-print
      .block-col-4.line-light
        код по ОКОНХ
      .block-col-8.line-light
        = @proposal.applic_code_okonh
    .block-row.no-print
      .block-col-4.line-light
        код по ОКВЭД
      .block-col-8.line-light
        = @proposal.applic_code_okved
    .block-row.no-print
      .block-col-4.line-light
        код по ОКПО
      .block-col-8.line-light
        = @proposal.applic_code_okpo
    .block-row.no-print
      .block-col-4.line-light
        ИНН
      .block-col-8.line-light
        = @proposal.applic_inn
    .block-row.no-print
      .block-col-4.line-light
        КПП
      .block-col-8.line-light
        = @proposal.applic_kpp
  %br.no-print
  .line
    в лице
    %b= @proposal.applic_chief_name
  .hint
    фамилия, имя, отчество руководителя
  .paragraph
    просит провести
    %b добровольную
    сертификацию продукции
  .line
    %b= @proposal.applic_name_product
  .hint
    наименование продукции
  .paragraph
    .block-row
      .block-col-2
        Код ОКПД2
      .block-col-2.line
        %b= @proposal.applic_code_okp
      .block-col-2
        Код ТН ВЭД
      .block-col-2.line
        %b= @proposal.applic_code_tn_ved
  .line
    %b= @proposal.applic_from_issue
  .hint
    серийный выпуск, или партия определенного размера, или единица продукции
  .paragraph
    выпускаемой изготовителем
  .line
    %b= @proposal.manuf_name
  .line
    %b #{@proposal.manuf_address}, #{@proposal.manuf_postcode}
  .hint
    адрес
  .line
    по
    %b= @proposal.manuf_doc
  .hint
    наименование и обозначение документацииизготовителя (стандарт, ТУ, КД, образец-эталон)
  %h2.py-3.no-print Поисковые реквизиты изготовителя
  .paragraph
    .block-row.no-print
      .block-col-4.line-light
        код по ОКАТО
      .block-col-8.line-light
        = @proposal.manuf_code_okato
    .block-row.no-print
      .block-col-4.line-light
        Форма собственности
      .block-col-8.line-light
        = @proposal.manuf_type_own
    .block-row.no-print
      .block-col-4.line-light
        код по ОКОНХ
      .block-col-8.line-light
        = @proposal.manuf_code_okonh
    .block-row.no-print
      .block-col-4.line-light
        код по ОКВЭД
      .block-col-8.line-light
        = @proposal.manuf_code_okved
    .block-row.no-print
      .block-col-4.line-light
        код по ОКПО
      .block-col-8.line-light
        = @proposal.manuf_code_okpo
    .block-row.no-print
      .block-col-4.line-light
        ИНН
      .block-col-8.line-light
        = @proposal.manuf_inn
  %br.no-print
  .paragraph
    на соответствие требованиям
  .line
    %b= @proposal.manuf_regulations
  .hint
    наименование и обозначение нормативных документов
  .paragraph
    по схеме
    %b #{@proposal.manuf_scheme_cert}.
  %h2.py-3.no-print Дополнительные сведения о продукции и заявителе
  .paragraph
    .block-row.no-print
      .block-col-8.line-light
        Количество видов сертифицируемой продукции
      .block-col-4.line-light
        = @proposal.manuf_count_sort_cert
    .block-row.no-print
      .block-col-8.line-light
        Группа сложности сертификации продукции
      .block-col-4.line-light
        = @proposal.manuf_group_complexity
        .hint
          См. "Правила по сертификации. Оплата работ по сертификации продукции и услуг", п. 4.4.
  %br
  .paragraph
    Заявитель обязуется выполнять правила сертификации.
  %br
  .paragraph
    Дополнительные сведения:
  .line
    %b= @proposal.manuf_list_doc
  .hint
    перечень представленных заявителем документов, подтверждающих соответствие продукции установленным требованиям
  .line
    %b= @proposal.manuf_add_info
  .hint
    дополнительная информация
  .paragraph.pt-3
    .block-row
      .block-col-4
        Руководитель организации
      .block-col-2
        .line
        .hint
          подпись
      .block-col-4.text-center
        .line
          %b= @proposal.manuf_chief_name
        .hint
          инициалы, фамилия
    .block-row
      .block-col-4
        Главный бухгалтер
      .block-col-2
        .line
        .hint
          подпись
      .block-col-4.text-center
        .line
          %b= @proposal.manuf_chief_accountant
        .hint
          инициалы, фамилия
    .block-row
      .block-col-4
        М.П.
      .block-col-4
        %b= format_date(@proposal.date_from)
