<% provide(:title, "Заявка № #{@proposal.prop_number}") %>
<div class="paragraph no-print">
  <%= link_to t('link.back'), root_path %> | 
  <%= link_to t('link.edit'), edit_proposal_path %> | 
  <%= link_to t('link.destroy'), proposal_path(@proposal),
      method: :delete,
      data: { confirm: 'Are you sure?' } %>
  <% if @proposal.certcontract.nil? %>
     | <%= link_to t('link.new_certcontract'), new_certcontract_path(proposal_id: @proposal.id) %>
  <% end %>
  <% if @proposal.solution_proposal.nil? %>
     | <%= link_to t('link.new_solution_proposal'), new_solution_proposal_path(proposal_id: @proposal.id) %>
  <% end %>
  <% if @proposal.inventory.nil? %>
     | <%= link_to t('link.new_inventory'), new_inventory_path(proposal_id: @proposal.id) %>
  <% end %>
</div>
<br class="no-print">
<br class="no-print">
<div class="page-body">
  <div class="line">
    <%= @setting.set_os_name %><br>
    рег. № <%= @setting.set_os_registration_num %>
  </div>
  <div class="hint">
    наименование органа по сертификации
  </div>
  <div class="line">
    <%= @setting.set_os_address %>
  </div>
  <div class="hint">
    адрес, телефон, факс
  </div>
  <br>
  <div class="caption">
    ЗАЯВКА № <%= @proposal.prop_number %> от <%= @proposal.prop_date_from.strftime("%d.%m.%Y") %><br>
    на проведение сертификации продукции в системе сертификации<br>
    <%= @proposal.prop_cert_system %>
  </div>
  <br>
  <div class="line">
    <b><%= @proposal.prop_applic_name %></b>
  </div>
  <div class="hint">
    наименование организации-изготовителя, продавца или индивидуального предпринимателя (далее - заявитель)
  </div>
  <div class="line">
    <b><%= @proposal.prop_applic_reg_doc %></b>
  </div>
  <div class="hint">
    код по ОКПО или номер регистрационного документа индивидуального предпринимателя
  </div>
  <div class="paragraph">
    Юридический адрес: <b><%= @proposal.prop_applic_address %>, <%= @proposal.prop_applic_postcode %></b>
  </div>
  <div class="paragraph">
    Банковские реквизиты: <b><%= @proposal.prop_applic_bank_detail %></b>
  </div>
  <div class="div-table">
    <div class="div-table-row">
      <div class="div-table-col col-width-4">
        Телефон: <b><%= @proposal.prop_applic_phone %></b>
      </div>
      <div class="div-table-col col-width-4">
        Факс: <b><%= @proposal.prop_applic_fax %></b>
      </div>
      <div class="div-table-col col-width-4">
        Почта: <b><%= @proposal.prop_applic_email %></b>
      </div>
    </div>
  </div>
  <hr class="col-width-12 no-print">
  <h2 class="no-print">Поисковые реквизиты заявителя</h2>
  <div class="div-table no-print">
    <div class="div-table-row">
      <div class="div-table-col col-width-4 hr-light">
        код по ОКАТО
      </div>
      <div class="div-table-col col-width-8 hr-light">
        <%= @proposal.prop_applic_code_okato %>
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-4 hr-light">
        Форма собственности
      </div>
      <div class="div-table-col col-width-8 hr-light">
        <%= @proposal.prop_applic_type_own %>
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-4 hr-light">
        код по ОКОНХ
      </div>
      <div class="div-table-col col-width-8 hr-light">
        <%= @proposal.prop_applic_code_okonh %>
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-4 hr-light">
        код по ОКВЭД
      </div>
      <div class="div-table-col col-width-8 hr-light">
        <%= @proposal.prop_applic_code_okved %>
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-4 hr-light">
        код по ОКПО
      </div>
      <div class="div-table-col col-width-8 hr-light">
        <%= @proposal.prop_applic_code_okpo %>
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-4 hr-light">
        ИНН
      </div>
      <div class="div-table-col col-width-8 hr-light">
        <%= @proposal.prop_applic_inn %>
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-4 hr-light">
        КПП
      </div>
      <div class="div-table-col col-width-8 hr-light">
        <%= @proposal.prop_applic_kpp %>
      </div>
    </div>
  </div>
  <br class="no-print">
  <div class="line">
    в лице <b><%= @proposal.prop_applic_chief %></b>
  </div>
  <div class="hint">
    фамилия, имя, отчество руководителя
  </div>
  <div class="paragraph">
    просит провести <b>добровольную</b> сертификацию продукции
  </div>
  <div class="line">
    <b><%= @proposal.prop_applic_name_product %></b>
  </div>
  <div class="hint">
    наименование продукции
  </div>
  <div class="div-table">
    <div class="div-table-row">
      <div class="div-table-col col-width-6">
        Код ОК 005-93 (ОКП)
        <span class="line">
          <b><%= @proposal.prop_applic_code_okp %></b>
        </span>
      </div>
      <div class="div-table-col col-width-6">
        Код ТН ВЭД
        <span class="line">
          <b><%= @proposal.prop_applic_code_tn_ved %></b>
        </span>
      </div>
    </div>
  </div>
  <div class="line">
    <b><%= @proposal.prop_applic_from_issue %></b>
  </div>
  <div class="hint">
    серийный выпуск, или партия определенного размера, или единица продукции
  </div>
  <div class="paragraph">
    выпускаемой изготовителем
  </div>
  <div class="line">
    <b><%= @proposal.prop_manuf_name %></b>
  </div>
  <div class="line">
    <b><%= @proposal.prop_manuf_address %>, <%= @proposal.prop_manuf_postcode %></b>
  </div>
  <div class="hint">
    адрес
  </div>
  <div class="line">
    по <b><%= @proposal.prop_manuf_doc %></b>
  </div>
  <div class="hint">
    наименование и обозначение документацииизготовителя (стандарт, ТУ, КД, образец-эталон)
  </div>
  <hr class="col-width-12 no-print">
  <h2 class="no-print">Поисковые реквизиты изготовителя</h2>
  <div class="div-table no-print">
    <div class="div-table-row">
      <div class="div-table-col col-width-4 hr-light">
        код по ОКАТО
      </div>
      <div class="div-table-col col-width-8 hr-light">
        <%= @proposal.prop_manuf_code_okato %>
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-4 hr-light">
        Форма собственности
      </div>
      <div class="div-table-col col-width-8 hr-light">
        <%= @proposal.prop_manuf_type_own %>
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-4 hr-light">
        код по ОКОНХ
      </div>
      <div class="div-table-col col-width-8 hr-light">
        <%= @proposal.prop_manuf_code_okonh %>
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-4 hr-light">
        код по ОКВЭД
      </div>
      <div class="div-table-col col-width-8 hr-light">
        <%= @proposal.prop_manuf_code_okved %>
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-4 hr-light">
        код по ОКПО
      </div>
      <div class="div-table-col col-width-8 hr-light">
        <%= @proposal.prop_manuf_code_okpo %>
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-4 hr-light">
        ИНН
      </div>
      <div class="div-table-col col-width-8 hr-light">
        <%= @proposal.prop_manuf_inn %>
      </div>
    </div>
  </div>
  <br class="no-print">
  <div class="paragraph">
    на соответствие требованиям
  </div>
  <div class="line">
    <b><%= @proposal.prop_manuf_regulations %></b>
  </div>
  <div class="hint">
    наименование и обозначение нормативных документов
  </div>
  <div class="paragraph">
    по схеме <b><%= @proposal.prop_manuf_scheme_cert %></b>.
  </div>
  <hr class="col-width-12 no-print">
  <h2 class="no-print">Дополнительные сведения о продукции и заявителе</h2>
  <div class="div-table no-print">
    <div class="div-table-row">
      <div class="div-table-col col-width-8 hr-light">
        Количество видов сертифицируемой продукции
      </div>
      <div class="div-table-col col-width-4 hr-light">
        <%= @proposal.prop_manuf_count_sort_cert %>
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-8 hr-light">
        Группа сложности сертификации продукции
      </div>
      <div class="div-table-col col-width-4 hr-light">
        <%= @proposal.prop_manuf_group_complexity %>
        <div class="hint">
          См. "Правила по сертификации. Оплата работ по сертификации продукции и услуг", п. 4.4.
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="paragraph">
    Заявитель обязуется выполнять правила сертификации.
  </div>
  <br>
  <div class="paragraph">
    Дополнительные сведения:
  </div>
  <div class="line">
    <b><%= @proposal.prop_manuf_list_doc %></b>
  </div>
  <div class="hint">
    перечень представленных заявителем документов, подтверждающих соответствие продукции установленным требованиям
  </div>
  <div class="line">
    <b><%= @proposal.prop_manuf_add_info %></b>
  </div>
  <div class="hint">
    дополнительная информация
  </div>
  <div class="div-table">
    <div class="div-table-row">
      <div class="div-table-col col-width-4 col-align-top">
        Руководитель организации
      </div>
      <div class="div-table-col col-width-2 col-align-bot">
        <div class="line">
        </div>
        <div class="hint">
          подпись
        </div>
      </div>
      <div class="div-table-col col-width-4 col-align-bot">
        <div class="line">
          <b><%= @proposal.prop_manuf_chief_org %></b>
        </div>
        <div class="hint">
          инициалы, фамилия
        </div>
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-4 col-align-top">
        Главный бухгалтер
      </div>
      <div class="div-table-col col-width-2 col-align-bot">
        <div class="line">
        </div>
        <div class="hint">
          подпись
        </div>
      </div>
      <div class="div-table-col col-width-4 col-align-bot">
        <div class="line">
          <b><%= @proposal.prop_manuf_chief_accountant %></b>
        </div>
        <div class="hint">
          инициалы, фамилия
        </div>
      </div>
    </div>
  </div>
  <div class="div-table">
    <div class="div-table-row">
      <div class="div-table-col col-width-4 col-align-top">
        М.П.
      </div>
      <div class="div-table-col col-width-4 col-align-bot">
        <b><%= @proposal.prop_date_from.strftime("%d.%m.%Y") %></b>
      </div>
    </div>
  </div>
</div>
<br class="no-print">
<br class="no-print">
<div class="paragraph no-print">
  <%= link_to t('link.back'), root_path %> | 
  <%= link_to t('link.edit'), edit_proposal_path %> | 
  <%= link_to t('link.destroy'), proposal_path(@proposal),
      method: :delete,
      data: { confirm: 'Are you sure?' } %>
  <% if @proposal.certcontract.nil? %>
     | <%= link_to t('link.new_certcontract'), new_certcontract_path(proposal_id: @proposal.id) %>
  <% end %>
  <% if @proposal.solution_proposal.nil? %>
     | <%= link_to t('link.new_solution_proposal'), new_solution_proposal_path(proposal_id: @proposal.id) %>
  <% end %>
  <% if @proposal.inventory.nil? %>
     | <%= link_to t('link.new_inventory'), new_inventory_path(proposal_id: @proposal.id) %>
  <% end %>
</div>
