<div class="link-stuck no-print">
  <%= link_to t('link.back'), root_path %> |
  <%= link_to t('link.edit'), edit_certificate_path(@certificate) %> |
  <%= link_to t('link.destroy'), @certificate, method: :delete,
                                               data: { confirm: "Вы уверены?" }%> |
  <%= link_to t('link.print_PDF'), certificate_path(@certificate, format: 'pdf'), target: "_blank" %> |
  <%= link_to t('link.new_attachment'), new_attachment_path(certificate_id: @certificate.id) %>
  <% if @certificate.permission.nil? %>
    | <%= link_to t('link.new_permission'), new_permission_path(certificate_id: @certificate.id) %>
  <% end %>
  <% if @certificate.ikcontract.nil? %>
    | <%= link_to t('link.new_ikcontract'), new_ikcontract_path(certificate_id: @certificate.id) %>
  <% end %>
</div>
<br class="no-print">
<br class="no-print">
