<% provide(:title, "Сертификаты") %>
<h1>Сертификаты</h1>
<div class="row">
  <div class="col-lg-12">
      <%= form_with url: certificates_path, method: :get, local: true, class: "form-inline pull-right" do |f| %>
        <%= f.text_field :cer_search, class: "form-control" %>
        <%= f.submit t('form.search'), name: nil, class: "btn btn-secondary" %>
      <% end %>
  </div>
</div>
<br>
<div class="table-responsive">
  <table class="table">
    <tr>
      <th>#</th>
      <th>Номер сертификата</th>
      <th>Номер бланка</th>
      <th>Дата начала</th>
      <th>Дата окончания</th>
      <th>#</th>
      <th>#</th>
      <th>#</th>
    </tr>

    <% @certificates.each do |certificate| %>
      <tr>
        <td><%= certificate.id %></td>
        <td><%= certificate.cer_number %></td>
        <td><%= certificate.cer_blank_number %></td>
        <td><%= (certificate.cer_validity_from).strftime("%d.%m.%Y") unless (certificate.cer_validity_from).nil? %></td>
        <td><%= (certificate.cer_validity_to).strftime("%d.%m.%Y") unless (certificate.cer_validity_to).nil? %></td>
        <td><%= link_to t('link.show'), certificate_path(certificate) %></td>
        <td><%= link_to t('link.edit'), edit_certificate_path(certificate) %></td>
        <td><%= link_to t('link.destroy'), certificate_path(certificate),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  </table>

  <%= link_to t('link.new'), new_certificate_path %>

</div>
