- provide(:title, "#{t('certificates.headers.show')} #{@certificate.cert_registration_num}")
= render partial: 'links', locals: { certificate: @certificate }
.page-body
  .caption
    СИСТЕМА СЕРТИФИКАЦИИ ГОСТ Р
    %br ГОССТАНДАРТ РОССИИ
    %br СЕРТИФИКАТ СООТВЕТСТВИЯ
  %br
  .paragraph
    .row
      .col-md-4
      .col-md-6
        №
        %b= @certificate.cert_registration_num
        %br
        Срок действия с
        %b= format_date(@certificate.cert_registration_date)
        по
        %b= format_date(@certificate.cert_expiry_date)
      .col-md-2
    .row
      .col-md-4
      .col-md-6
      .col-md-2.text-danger
        №
        %b= @certificate.cert_blank_num
  .paragraph
    ОРГАН ПО СЕРТИФИКАЦИИ
    %b= @setting.os_registration_num
  .paragraph
    %b= @setting.os_name.gsub 'ОРГАН ПО СЕРТИФИКАЦИИ ', ''
  .paragraph
    %b= @setting.os_address
  %br
  .paragraph
    .row
      .col-md-9
        ПРОДУКЦИЯ
        %b= @certificate.cert_name_product
      .col-md-3.text-center
        Код ОКПД2
    .row
      .col-md-9
        %b= @certificate.cert_manuf_doc
      .col-md-3.text-center
        %b= @certificate.cert_code_okp
    .row
      .col-md-9
        %b= @proposal.applic_from_issue
      .col-md-3
  %br
  .paragraph
    СООТВЕТСТВУЕТ ТРЕБОВАНИЯМ НОРМАТИВНЫХ ДОКУМЕНТОВ
  .paragraph
    .row
      .col-md-9
        %b= @certificate.cert_manuf_regulations
      .col-md-3.text-center
        Код ТН ВЭД
    .row
      .col-md-9
      .col-md-3.text-center
        %b= @certificate.cert_code_tn_ved
  %br
  %br
  .paragraph
    ИЗГОТОВИТЕЛЬ
    %b= @certificate.cert_manuf_name
  .paragraph
    ИНН:
    %b= @certificate.cert_manuf_inn
  .paragraph
    Адрес:
    %b #{@certificate.cert_manuf_address}, #{@certificate.cert_manuf_postcode}
  %br
  %br
  .paragraph
    СЕРТИФИКАТ ВЫДАН
    %b= @certificate.cert_applic_name
  .paragraph
    ИНН:
    %b= @certificate.cert_applic_inn
  .paragraph
    Адрес:
    %b #{@certificate.cert_applic_address}, #{@certificate.cert_applic_postcode}
    - if @certificate.cert_applic_phone.presence
      %b, тел.: #{@certificate.cert_applic_phone}
  %br
  %br
  .paragraph
    НА ОСНОВАНИИ
  .paragraph
    %b= @certificate.cert_test_report
  %br
  .paragraph
    ДОПОЛНИТЕЛЬНАЯ ИНФОРМАЦИЯ
  .paragraph
    %b
      = @certificate.cert_add_info
  .paragraph
    %b= @certificate.cert_place_marking
  .paragraph
    Схема сертификации
    %b #{@proposal.manuf_scheme_cert}.
  %br
  .paragraph
    .row
      .col-md-6
        Руководитель органа
      .col-md-2
        .line
        .hint
          подпись
      .col-md-4.text-center
        .line
          %b= @certificate.cert_chief_org
        .hint
          инициалы, фамилия
    .row
      .col-md-6
        Эксперт
      .col-md-2
        .line
        .hint
          подпись
      .col-md-4.text-center
        .line
          %b= @certificate.cert_expert
        .hint
          инициалы, фамилия
