<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <% if @protocol.errors.any? %>
      <div class="error text-danger">
        <p>
          <%= pluralize(@protocol.errors.count, "error") %>:
        </p>
        <ul>
          <% @protocol.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= simple_form_for @protocol, html: { class: "form-horizontal" }, wrapper: :horizontal_form do |f| %>

      <%= f.input :solution_proposal_id, as: :hidden %>
      <div class="row">
        <div class="form-group">
          <%= f.label :prot_date_from, class: 'col-sm-4 control-label' %>
          <div class="col-sm-2">
            <%= f.input_field :prot_date_from, as: :date, start_year: Date.today.year - 10,
                                                    end_year: Date.today.year + 10,
                                                    html5: true, class: "form-control" %>
          </div>
        </div>
      </div>
      <%= f.input :prot_applic_name_product, as: :text, input_html: { rows: 5 } %>
      <%= f.input :prot_applic_code_okp %>
      <%= f.input :prot_applic_code_tn_ved %>
      <%= f.input :prot_manuf_name %>
      <%= f.input :prot_manuf_address, as: :text, input_html: { rows: 6 } %>
      <%= f.input :prot_manuf_postcode %>
      <%= f.input :prot_origin_cert %>
      <%= f.input :prot_info_product %>
      <div class="row">
        <div class="form-group">
          <%= f.label :prot_date_issue_product, class: 'col-sm-4 control-label' %>
          <div class="col-sm-2">
            <%= f.input_field :prot_date_issue_product, as: :date, start_year: Date.today.year - 10,
                                                             end_year: Date.today.year + 10,
                                                             html5: true, class: "form-control"%>
          </div>
        </div>
      </div>
      <%= f.input :prot_shelf_life %>
      <%= f.input :prot_info_box  %>
      <%= f.input :prot_label_product %>
      <%= f.input :prot_regulations_product %>
      <%= f.input :prot_evaluation_product, as: :text, input_html: { rows: 5 } %>
      <%= f.input :prot_requirement_test, collection: [ "требуется","не требуется" ], include_blank: false %>
      <%= f.input :prot_list_indicators, as: :text, input_html: { rows: 5 } %>
      <%= f.input :prot_conclusion, as: :text, input_html: { rows: 2 } %>
      <%= f.input :prot_expert %>

      <%= f.button :submit, "Сохранить протокол идентификации продукции", class: 'btn btn-primary center-block' %>
    <% end %>
  </div>
</div>
