.col-md-2.fixed-top.mt-10
  %ul.nav.flex-column
    %li.nav-item= link_to t('link.back'), protocol_path(@protocol), class: 'nav-link'

- provide(:title, "#{t('protocols.headers.edit')} #{format_date(@protocol.prot_date_from)}")
.page-body
  %h2.text-center.py-3 #{t('protocols.headers.edit')} #{format_date(@protocol.prot_date_from)}
  = render partial: 'form', locals: { protocol: @protocol, button: 'edit' }
