<%= provide(:title, "Протокол идентификации продукции от #{@protocol.prot_date_from.strftime("%d.%m.%Y")}") %>
<%= render "links" %>
<div class="page-body">
  <div class="line">
    <%= @setting.set_os_name %><br>
    рег. № <%= @setting.set_os_registration_num %>
  </div>
  <div class="hint">
    наименование органа по сертификации
  </div>
  <div class="line">
    <%= @setting.set_os_address %>
  </div>
  <div class="hint">
    адрес, телефон, факс
  </div>
  <br>
  <div class="caption">
    Протокол идентификации продукции от <%= @protocol.prot_date_from.strftime("%d.%m.%Y") %>
  </div>
  <br>
  <ol class='ol-left'>
    <div class="paragraph">
      <li> Наименование заявителя и его реквизиты:</li>
    </div>
    <div class="line">
      <b><%= @proposal.prop_applic_name %><br>
      <%= @proposal.prop_applic_reg_doc %></b>
    </div>
    <div class="hint">
      наименование организации-изготовителя, продавца или индивидуального предпринимателя (далее - заявитель)
    </div>
    <div class="paragraph">
      Юридический адрес: <b><%= "#{@proposal.prop_applic_address}, #{@proposal.prop_applic_postcode}" %></b>
    </div>
    <div class="div-table">
      <div class="div-table-row">
        <div class="div-table-col col-width-4">
          Телефон: <b><%= @proposal.prop_applic_phone %></b>
        </div>
        <div class="div-table-col col-width-4">
          Факс: <b><%= @proposal.prop_applic_fax %></b>
        </div>
        <div class="div-table-col col-width-4">
          Почта: <b><%= @proposal.prop_applic_email %></b>
        </div>
      </div>
    </div>
    <div class="paragraph">
      Заявка <b>№ <%= @proposal.prop_number %></b> от <b><%= @proposal.prop_date_from.strftime("%d.%m.%Y") %></b>
    </div>
    <div class="paragraph">
      <li>Заявленное наименование продукции:</li>
    </div>
    <div class="line">
      <b><%= @protocol.prot_applic_name_product %></b>
    </div>
    <div class="hint">
      наименование продукции
    </div>
    <div class="div-table">
      <div class="div-table-row">
        <div class="div-table-col col-width-2">
          Код ОКПД2
        </div>
        <div class="div-table-col-hr col-width-2">
            <b><%= @protocol.prot_applic_code_okp %></b>
        </div>
        <div class="div-table-col col-width-2">
          Код ТН ВЭД
        </div>
        <div class="div-table-col-hr col-width-2">
            <b><%= @protocol.prot_applic_code_tn_ved %></b>
        </div>
      </div>
    </div>
    <div class="paragraph">
      <li>Сведения об изготовителе продукции:</li>
    </div>
    <div class="line">
      <b><%= @protocol.prot_manuf_name %></b>
    </div>
    <div class="hint">
      наименование изготовителя
    </div>
    <div class="line">
      <b><%= "#{@protocol.prot_manuf_address}, #{@protocol.prot_manuf_postcode}" %></b>
    </div>
    <div class="hint">
      адрес
    </div>
    <% unless @protocol.prot_origin_cert.blank? %>
      <div class="line">
        <b><%= @protocol.prot_origin_cert %></b>
      </div>
      <div class="hint">
        сертификат происхождения
      </div>
    <% end %>
    <div class="paragraph">
      <li>Сведения о продукции:</li>
    </div>
    <div class="line">
      <b><%= @protocol.prot_info_product %></b>
    </div>
    <div class="hint">
      удостоверение о качестве, сертификат качества изготовителя, санитарный сертификат страны-изготовителя,
      фитосанитарный сертификат, ветеринарный сертификат (свидетельство), сертификат хлебной инспекции,
      гигиеническое заключение
    </div>
    <% if @protocol.prot_date_issue_product.present? %>
      <div class="paragraph">
        <li>Дата выпуска продукции: <b><%= @protocol.prot_date_issue_product.try(:strftime, '%d.%m.%Y') %></b></li>
      </div>
    <% end %>
    <div class="paragraph">
      <li>Срок годности продукции, указанный изготовителем: <b><%= @protocol.prot_shelf_life %></b></li>
    </div>
    <div class="paragraph">
      <li>Сведения об упаковке:</li>
    </div>
    <div class="line">
      <b><%= @protocol.prot_info_box %></b>
    </div>
    <div class="hint">
      сведения об упаковке, масса, объем первичной упаковки
    </div>
    <div class="paragraph">
      <li>Оценка маркировки продукции:</li>
    </div>
    <div class="line">
      <b><%= @protocol.prot_label_product %></b>
    </div>
    <div class="hint">
      соответствие информации на этикетке (упаковке) и прилагаемой сопроводительной документации требованиям
      ГОСТ Р 51074-2003, анализ информации штрих-кода
    </div>
    <div class="paragraph">
      <li>Нормативная документация на заявленную продукцию:</li>
    </div>
    <div class="line">
      <b><%= @protocol.prot_regulations_product %></b>
    </div>
    <div class="hint">
      наименование и обозначение НД. Для импортной продукции - наличие отечественных аналогов, возможность использования
      отечественной НД для идентификации
    </div>
    <div class="paragraph">
      <li>Оценка органолептических показателей продукции:</li>
    </div>
    <div class="line">
      <b><%= @protocol.prot_evaluation_product %></b>
    </div>
    <div class="hint">
      соответствие вкуса, цвета, запаха, консистенции, внешнего вида продукции заявленному наименованию, требованиям
      нормативных и технических документов, рецептурам, приведенному пищевому составу, прилагаемой информации и (или)
      традиционно сложившимся вкусам или привычкам населения
    </div>
    <div class="paragraph">
      <li>Проведение дополнительных испытаний по показателям, подтверждающим идентификацию продукции:</li>
      <b><%= @protocol.prot_requirement_test %></b>
    </div>
    <div class="line">
      <b><%= @protocol.prot_list_indicators %></b>
    </div>
    <div class="hint">
      перечень показателей, анализ результатов испытаний
    </div>
    <div class="paragraph">
      <li>Заключение: <b><%= @protocol.prot_conclusion %></b></li>
    </div>
  </ol>
  <br>
  <div class="div-table">
    <div class="div-table-row">
      <div class="div-table-col col-width-6 col-align-top">
        <b>Эксперт</b>
      </div>
      <div class="div-table-col col-width-2 col-align-bot">
        <div class="line">
        </div>
        <div class="hint">
          подпись
        </div>
      </div>
      <div class="div-table-col col-width-3 col-align-bot">
        <div class="line">
          <%= @protocol.prot_expert %>
        </div>
        <div class="hint">
          инициалы, фамилия
        </div>
      </div>
    </div>
  </div>
</div>
