%ul.sidebar-nav.d-print-none
  %li= link_to t('link.back'), solution_path(@solution)

- provide(:title, "#{t('solutions.headers.edit')} #{format_date(@solution.sol_date_from)}")
.page-body
  %h2.text-center.py-3 #{t('solutions.headers.edit')} #{format_date(@solution.sol_date_from)}
  = render partial: 'form', locals: { solution: @solution, button: 'edit' }
