<%= provide(:title, "Решение о выдаче сертификата от #{@solution.sol_date_from.strftime("%d.%m.%Y")}") %>

<div class="paragraph no-print">
  <%= link_to t('link.back'), root_path %> | 
  <%= link_to t('link.edit'), edit_solution_path(@solution) %> | 
  <%= link_to t('link.destroy'), solution_path(@solution), method: :delete,
                                  data: { confirm: "Are you sure" }%>
  <% if @solution.certificate.nil? %>
    | <%= link_to t('link.new_certificate'), new_certificate_path(solution_id: @solution.id) %>
  <% end %>
</div>
<br class="no-print">
<br class="no-print">
<div class="page-body">
  <div class="line">
    <% @setting.set_organization.split("\r\n").each do |set_org| %>
      <%= set_org %><br>
    <% end %>
    рег. № <%= @setting.set_name %>
  </div>
  <div class="hint">
    наименование органа по сертификации
  </div>
  <div class="line">
    <%= @setting.set_address %>
  </div>
  <div class="hint">
    адрес, телефон, факс
  </div>
  <br>
  <div class="caption">
    РЕШЕНИЕ № <%= @solution.sol_number %> от <%= @solution.sol_date_from.strftime("%d.%m.%Y") %><br>
    <%= @solution.sol_delivery %> сертификата соответствия
  </div>
  <br>
  <div class="paragraph">
    <b>На основании</b> следующих документов:
  </div>
  <div class="paragraph">
    <b>- заявки</b> на проведение сертификации продукции <b>№ <%= @proposal.prop_number %></b> от <b><%= @proposal.prop_date_from.strftime("%d.%m.%Y") %></b>
  </div>
  <div class="line">
    <b><%= @proposal.prop_applic_name %><br>
    <%= @proposal.prop_applic_reg_doc %></b>
  </div>
  <div class="hint">
    наименование организации-изготовителя, продавца или индивидуального предпринимателя (далее - заявитель)
  </div>
  <div class="paragraph">
    Юридический адрес: <b><%= "#{@proposal.prop_applic_address}, #{@proposal.prop_applic_postcode}" %></b>
  </div>
  <div class="div-table">
    <div class="div-table-row">
      <div class="div-table-col col-width-4">
        Телефон: <b><%= @proposal.prop_applic_phone %></b>
      </div>
      <div class="div-table-col col-width-4">
        Факс: <b><%= @proposal.prop_applic_fax %></b>
      </div>
      <div class="div-table-col col-width-4">
        Почта: <b><%= @proposal.prop_applic_email %></b>
      </div>
    </div>
  </div>
  <div class="paragraph">
    <b>- решения</b> органа по сертификации <b>№ <%= @solution.sol_solution_proposal_num %></b> от <b><%= @solution.sol_solution_proposal_date.strftime("%d.%m.%Y") %></b>
  </div>
  <div class="paragraph">
    <b>- договора</b> на проведение работ по сертификации <b>№ <%= @solution.sol_contract_num %></b>
    от <b><%= @solution.sol_contract_date.strftime("%d.%m.%Y") %></b>
  </div>
  <% if @solution.sol_directive_num.present? %>
    <div class="paragraph">
      <b>- распоряжения</b> руководителя органа по сертификации <b>№ <%= @solution.sol_directive_num %></b>
      от <b><%= @solution.sol_directive_date.strftime("%d.%m.%Y") %></b>
    </div>
  <% end %>
  <div class="paragraph">
    проведена работа по <b>добровольной</b> сертификации продукции:
  </div>
  <div class="line">
    <b><%= @solution.sol_name_product %></b>
  </div>
  <div class="hint">
    наименование продукции
  </div>
  <div class="div-table">
    <div class="div-table-row">
      <div class="div-table-col col-width-6">
        Код ОК 005-93 (ОКП)
        <span class="line">
          <b><%= @solution.sol_code_okp %></b>
        </span>
      </div>
      <div class="div-table-col col-width-6">
        Код ТН ВЭД
        <span class="line">
          <b><%= @solution.sol_code_tn_ved %></b>
        </span>
      </div>
    </div>
  </div>
  <div class="line">
    <b><%= @proposal.prop_applic_from_issue %></b>
  </div>
  <div class="hint">
    серийный выпуск, или партия определенного размера, или единица продукции
  </div>
  <div class="paragraph">
    выпускаемой изготовителем
  </div>
  <div class="line">
    <b><%= @solution.sol_manuf_name %></b>
  </div>
  <div class="hint">
    наименование изготовителя
  </div>
  <div class="line">
    <b><%= "#{@solution.sol_manuf_address}, #{@solution.sol_manuf_postcode}" %></b>
  </div>
  <div class="hint">
    адрес
  </div>
  <div class="line">
    по <b><%= @solution.sol_manuf_doc %></b>
  </div>
  <div class="hint">
    наименование и обозначение документации изготовителя (стандарт, ТУ, КД, образец-эталон)
  </div>
  <div class="paragraph">
    Сертификация проводилась на соответствие требованиям:
  </div>
  <div class="line">
    <b><%= @solution.sol_manuf_regulations %></b>
  </div>
  <div class="hint">
    наименование и обозначение нормативных документов
  </div>
  <div class="paragraph">
    по схеме <b><%= @proposal.prop_manuf_scheme_cert %></b>, предусматривающей
  </div>
  <div class="line">
    <b><%= @solution.sol_desc_scheme_cert %></b>
  </div>
  <div class="hint">
    описание схемы сертификации
  </div>
  <br>
  <div class="caption">
    НА ОСНОВАНИИ
  </div>
  <br>
  <div class="line">
    <b><%= @solution.sol_test_report %></b>
  </div>
  <div class="hint">
    протоколы испытаний и др.
  </div>
  <div class="line">
    <b><%= @solution.sol_list_doc %></b>
  </div>
  <div class="hint">
    перечень представленных заявителем документов, подтверждающих соответствие продукции установленным требованиям
  </div>
  <div class="paragraph">
    и <b>заключения эксперта от <%= @solution.sol_conclusion_date.strftime("%d.%m.%Y") %></b> о соответствии продукции установленным требованиям
  </div>
  <br>
  <div class="paragraph">
    <% @setting.set_organization.split("\r\n").each do |set_org| %>
      <%= set_org %><br>
    <% end %>
    рег. № <%= @setting.set_name %>
  </div>
  <br>
  <div class="caption">
    ПРИНИМАЕТ РЕШЕНИЕ
  </div>
  <br>
  <div class="paragraph">
    <b>1.</b> Выдать заявителю сертификат соответствия продукции <b>сроком по <%= @solution.sol_cert_expiry_date.strftime("%d.%m.%Y") %></b>
  </div>
  <div class="paragraph">
    <b>2.</b> Заявитель осуществляет маркирование сертифицированной продукции знаком соответствия в соответствии с Правилами Системы
    сертификации ГОСТ Р. Место нанесения знака соответствия:
  </div>
  <div class="line">
    <b><%= @solution.sol_place_marking %></b>
  </div>
  <div class="paragraph">
    <b>3.</b> Проводить инспекционный контроль за сертифицированной продукцией в течение всего срока действия сертификата
  </div>
  <div class="line">
    <b><%= @solution.sol_inspection_period %></b>
  </div>
  <div class="hint">
    указать периодичность инспекционного контроля
  </div>
  <div class="paragraph">
    в форме периодических и внеплановых проверок, включающих:
  </div>
  <div class="line">
    <b><%= @solution.sol_inspection_method %></b>
  </div>
  <div class="hint">
    указать вид (способ) инспекционного контроля
  </div>
  <div class="paragraph">
    Работы по инспекционному контролю проводятся на основе:
  </div>
  <div class="line">
    <b><%= @solution.sol_inspection_work_basis %></b>
  </div>
  <div class="hint">
    договор на инспекционных контроль, порядок (правила) сертификации однородной продукции
  </div>
  <div class="paragraph">
    <b>4.</b> Дополнительная информация:
  </div>
  <div class="line">
    <b><%= @solution.sol_add_info %></b>
  </div>
  <br>
  <div class="div-table">
    <div class="div-table-row">
      <div class="div-table-col col-width-6 col-align-top">
        <%= @solution.sol_chief_name %>
      </div>
      <div class="div-table-col col-width-2 col-align-bot">
        <div class="line">
        </div>
        <div class="hint">
          подпись
        </div>
      </div>
      <div class="div-table-col col-width-3 col-align-bot">
        <div class="line">
          <%= @solution.sol_chief_org %>
        </div>
        <div class="hint">
          инициалы, фамилия
        </div>
      </div>
    </div>
    <div class="div-table-row">
      <div class="div-table-col col-width-6 col-align-top">
        Эксперт
      </div>
      <div class="div-table-col col-width-2 col-align-bot">
        <div class="line">
        </div>
        <div class="hint">
          подпись
        </div>
      </div>
      <div class="div-table-col col-width-3 col-align-bot">
        <div class="line">
          <%= @solution.sol_expert %>
        </div>
        <div class="hint">
          инициалы, фамилия
        </div>
      </div>
    </div>
    <% unless @solution.sol_executor.blank? %>
      <div class="div-table-row">
        <div class="div-table-col col-width-6 col-align-top">
          Исполнитель
        </div>
        <div class="div-table-col col-width-2 col-align-bot">
          <div class="line">
          </div>
          <div class="hint">
            подпись
          </div>
        </div>
        <div class="div-table-col col-width-3 col-align-bot">
          <div class="line">
            <%= @solution.sol_executor %>
          </div>
          <div class="hint">
            инициалы, фамилия
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% if @solution.sol_applic_sign %>
    <br>
    <div class="paragraph">
      <div class="inline">
        Сертификат (бланк №
      </div>
      <div class="line inline col-width-2">
      </div>
      <div class="inline">
      ) получил:
      </div>
    </div>
    <div class="div-table">
      <div class="div-table-row">
        <div class="div-table-col col-width-6 col-align-top">
        </div>
        <div class="div-table-col col-width-2 col-align-bot">
          <div class="line">
          </div>
          <div class="hint">
            подпись
          </div>
        </div>
        <div class="div-table-col col-width-3 col-align-bot">
          <div class="line">
            <%= @solution.sol_applic_name %>
          </div>
          <div class="hint">
            инициалы, фамилия
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<br class="no-print">
<br class="no-print">
<div class="paragraph no-print">
  <%= link_to t('link.back'), root_path %> | 
  <%= link_to t('link.edit'), edit_solution_path(@solution) %> | 
  <%= link_to t('link.destroy'), solution_path(@solution), method: :delete,
                                  data: { confirm: "Are you sure" }%>
  <% if @solution.certificate.nil? %>
    | <%= link_to t('link.new_certificate'), new_certificate_path(solution_id: @solution.id) %>
  <% end %>
</div>
