%header{ class: 'navbar navbar-fixed-top navbar-inverse bg-inverse no-print' }
  .container.no-print
    = link_to 'Certification', root_path, id: 'logo'
    %nav
      - if logged_in?
        %ul.nav.navbar-nav.navbar-left
          %li= link_to t('link.new_proposal'), new_proposal_path
          %li= link_to t('link.users'), users_path
          %li.dropdown
            %a.dropdown-toggle{ href: '#', 'data-toggle': 'dropdown' }
              = t('link.account')
              %b.caret
              %ul.dropdown-menu
                %li= link_to t('link.profile'), current_user
                %li= link_to t('link.settings'), edit_user_path(current_user)
                %li.divider
                %li= link_to t('link.logout'), logout_path, method: :delete
        = form_tag root_path, method: :get, class: 'navbar-form navbar-right' do
          .form-group
            = text_field_tag :search, params[:search], class: 'form-control'
          = submit_tag t('form.search'), name: nil, class: 'btn btn-default'
      - else
        %ul.nav.navbar-nav.navbar-left
          %li= link_to t('link.login'), login_path
