<header class="navbar navbar-fixed-top navbar-inverse bg-inverse no-print">
  <div class="container no-print">
    <%= link_to 'Certification', root_path, id: "logo" %>
    <nav>
      <% if logged_in? %>
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to t('link.new_proposal'), new_proposal_path %></li>
          <li><%= link_to t('link.users'), users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t('link.account') %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t("link.profile"), current_user %></li>
              <li><%= link_to t("link.settings"), edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to t("link.logout"), logout_path, method: :delete %></li>
            </ul>
          </li>
        </ul>
        <%= form_tag root_path, method: :get, class: "navbar-form navbar-right" do %>
          <div class="form-group">
            <%= text_field_tag :search, params[:search], class: "form-control" %>
          </div>
          <%= submit_tag t('form.search'), name: nil, class: "btn btn-default" %>
        <% end %>
      <% else %>
        <ul class="nav navbar-nav navbar-left">
            <li><%= link_to t("link.login"), login_path %>
        </ul>
      <% end %>
    </nav>
  </div>
</header>
