!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }/
    %title #{yield :title} | Certification
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container.d-print-none
      = render 'layouts/header'
      = render 'shared/flash'
    = yield
    .container.d-print-none
      = render 'layouts/footer'
